<div class="jumbotron">
    <h1>About Us</h1>
</div>

<h3>Our Company</h3>
<p>
    Lavax, Inc. is an Illinois-based research, development, manufacturer and distributor of all-natural,
    environmentally-friendly personal health care products. We are a small, family-owned company, established
    nearly 14 years ago in Palatine, IL. Our goal is to utilize cutting edge science and technology to develop
    innovative health care products to improve human lives. To date, our research projects have won two Small
    Business Innovation Research grants from National Institutes of Health and two Grand Challenge Exploration
    grants from Bill & Melinda Gates Foundation.

<p>
    Every one of our all-natural product formulae was developed by a physician or laboratory researcher.
    All the formulae have been thoroughly tested and found to deliver immediate and powerful results,
    time after time. And they each are sold with a 100% money back guarantee.

<h3>Our Team <br></h3>

<h4>Renjie Chang, M.D., M.S., Founder & President</h4>
<p>
    Dr. Chang started the company in 1999, determined to apply the knowledge and skills she had learned
    from a long career in the field of Obstetrics and Gynecology and in the pharmaceutical industry. In
    the past three decades, she worked as an OB-GYN in the Peking Union Hospital in China, a faculty member
    of OB-GYN at University of Oklahoma Health Sciences Center, and a drug developer at the Abbot Laboratories
    in Chicago. She established Lavax, Inc. to develop an innovative vaginal microbicide for preventing HIV
    with grants from NIH and Gates Foundation. While developing the antiviral drug, she invented the all
    natural Nu-Eve suppository as a spin-off. Because this product is a personal health care product, not a
    drug, it can be marketed to benefit consumers much sooner.

<h4>Lin Tao, Ph.D., Secretary</h4>
<p>
    Dr. Tao is a Professor at the University of Illinois at Chicago with a 9-month appointment. In the summer
    months and winter breaks, he works for the company to help with the business management.

<h4>Gesang Lamu, B.A., Director of Social Media</h4>
<p>
    Gesang is our blogger, newsletter writer and director of social media outreach. She keeps online visitors
    up-to-date on natural health trends, emerging research, and important medical alerts.

<h4>Kevin Tao, B.S., Webmaster</h4>
<p>
    Kevin keeps our website, computers, and shopping center up and running 24/7. Kevin is a computer software
    engineer working for a major company.

