<% provide(:title, 'About') %>
<div class="jumbotron">
  <h1>About Us</h1>
</div>

<div align="center">
    <%= link_to image_tag('amazon-5-stars.jpg', :size => "95x42"),'http://amzn.to/2g6tUUf', target: '_blank' %>
    <br>
    <%= link_to 'Lavax, Inc. has 94% positive ratings on Amazon', 'http://amzn.to/2g6tUUf', target: '_blank' %>
</div>

<h3>Our Company</h3>
<p>
  <%= link_to 'Lavax, Inc.', 'http://amzn.to/2g6tUUf' %> is an Illinois-based research, development, manufacturer and distributor of all-natural,
  environmentally-friendly personal health care products. We are a small, family-owned company, established nearly 14
  years ago in Palatine, IL. Our goal is to utilize cutting edge science and technology to develop innovative health
  care products to improve human lives. To date, our research projects have won three grants from National Institutes of
  Health and two Grand Challenge Exploration Awards from Bill & Melinda Gates Foundation.
<p>
  All of our all-natural products have been developed by our team of scientists. We test our products on ourselves; we
  wouldn't be selling them to the market if we weren't extremely satisfied with the results. All the formulas have been
  thoroughly tested and found to deliver immediate and powerful results, time after time.
<p>

<h3>Our Founder <br></h3>

<h4>Renjie Chang, M.D., M.S., Founder & President</h4>
<p>
  Dr. Chang started the company in 1999, determined to apply the knowledge and skills she had learned from a long career
  in the field of Obstetrics and Gynecology and in the pharmaceutical industry. In the past three decades, she worked as
  an OB-GYN in the Peking Union Hospital in China, a faculty member of OB-GYN at University of Oklahoma Health Sciences
  Center, and a drug developer at the Abbott Laboratories in Chicago. She established Lavax, Inc. to develop an
  innovative vaginal microbicide for preventing sexually transmitted disease with grants from NIH and Gates Foundation.
  While developing the sophisticated drug, she invented the all-natural NeuEve suppository as a spin-off. This
  innovative technology has made conceptual breakthrough in women’s personal care: reversing vaginal atrophy without
  using hormone. A patent has filed to protect its composition of natural ingredients. Because this product is a
  cosmetic for personal care, not a drug, it can be marketed to benefit consumers much sooner.
<p>
  <br>
  <%= image_tag 'chang-lab-photo.jpg' %>
  <br>
