<% provide(:title, 'Background') %>

<div class="jumbotron">
  <h1>Background</h1>
</div>


<h3>
  Cause of Vaginal odor
</h3>
<p>
  Unpleasant vaginal odor is often caused by bacterial vaginosis (BV). BV is not a true infection
  but an upset of the vaginal normal ecology. For example, if the water level of a river is running
  low, the number of fish would decrease and amphibians would thrive. This is called ecological shift.
  During BV, the good bacterium Lactobacillus decreases, but the unwanted bad bacteria increase. The
  cause for such an ecological shift is not clear, but risk factors include antibiotic use, douching,
  hormone reduction due to menopause or pregnancy, and change of sexual partner.
<h3>Treatment of Vaginal Odor</h3>
<p>
  Current treatment options: Prescription drugs include antibiotics clindamycin and metronidazole,
  which are often ineffective. Killing of the “amphibians” (bad bacteria) by antibiotics does not
  increase the number of fish (good bacteria) if the water level in the river is still running low.
  Over-the-counter products include douches and Lactobacillus capsules. Research found that douche often causes BV
  because it disrupts vaginal ecology. Lactobacillus capsules are like putting more fish into a river in order to
  outnumber the “amphibians,” but if the water level in the river is running low, all added “fish” will soon die out.
  Overall, there is not a fully effective product to treat vaginal odor.
<p>
<h3>
  Cause of Vaginal Dryness and Atrophy
</h3>
<p>
  Vaginal dryness commonly occurs when estrogen decreases during and after menopause. Although it is not a disease,
  the
  dryness can negatively affect women’s quality of life. Vaginal dryness may cause itching, swelling and discomfort,
  and is associated with pain during sex and increased frequency of urination. Vaginal dryness is often associated
  with odor because decreased secretion hampers the vaginal natural cleansing mechanism, resulting in
  overgrowth of the bag bacteria associated with BV. After years of vaginal dryness, the vagina will become severely
  atrophic, and will be difficult to recover. Therefore, addressing the dryness issue early will help delay the
  occurrence of atrophy.
<h3>Treatment of Vaginal Dryness and Atrophy</h3>
<p>
  Current treatment options: Three groups of products are available for treating vaginal dryness: lubricants,
  moisturizers
  and estrogen. Lubricants and moisturizers do not need prescriptions, but they only address symptoms, not the cause,
  like waxing drying leaves of a plant without watering its root. Vitamin E is a placebo because vaginal dryness is
  not caused by Vitamin E deficiency. It is the oil that dissolves the vitamin works as a lubricant. The same effect
  can also be achieved by applying olive oil. Although estrogen addresses the cause, it requires prescription and
  potentially increases cancer risk. Many women, especially cancer survivors, are reluctant to use estrogens.
  Overall, none of these products for dryness can clear feminine odor, which often exists in women experiencing
  vaginal
  dryness.
<p>
<h3>
  NeuEve : designed by scientists to relieve vaginal odor and dryness
</h3>
<p>
  The patented NeuEve suppository is designed by a gynecologist and is made with all FDA-approved
  natural and safe ingredients. It can relieve vaginal dryness of many causes, including menopause, breastfeeding,
  chemotherapy, hysterectomy, side effect of medications, Sjögren's syndrome, and stress or anxiety. It addresses both
  the symptoms and cause (with plant-derived phytoestrogens) without side effects of estrogen. It instantly soothes
  intimate tissue with moisture that lasts for days. NeuEve gently coats dry vagina with a thin layer of protective
  film, lowering the risk of vaginal irritation and bladder infection. Unlike other lubricants, it will not cause
  burning or yeast infection. Continuous using the product will help stopping the process of vaginal atrophy.

<h3>Neueve : restore your vaginal ecology</h3>
<p>
  Additionally, NeuEve suppository can also eliminate vaginal odor by a mechanism called ecological restoration. For
  example, to restore the previous, normal ecology of a dried river, in which fish diminishes and amphibians dominate,
  the best way is to increase its water level. This can result in more “fish” and less “amphibians” naturally. Killing
  “amphibians” (bad bacteria) by antibiotics or adding more “fish” (good bacteria) into the dried river may not fix
  the problem or may provide only temporary solution. On the other hand, the effect of NeuEve can be rapid and
  long-lasting. In less than 24 hours the odor will be diminished. Continuous using the product will help keeping
  malodor from coming back.
</p>
<p>
  Special patented formulation allows extended and timed release for up to 7 days. This makes the formula more
  affordable and convenient to use due to its long-lasting effect. Continuous use of NeuEve suppository can restore
  the vaginal self-cleansing mechanism and unleash the self-healing power. Use NeuEve and vaginal dryness, vaginal
  odor, and painful intercourse, will be history.


