<% provide(:title, 'Bacterial Vaginosis & Vaginal Odor') %>

<div class="jumbotron">
    <h1>Bacterial Vaginosis & Vaginal Odor</h1>
</div>


<h3>
    What is bacterial vaginosis?
</h3>
<p>
    Bacterial vaginosis (BV) is a syndrome (a set of signs and symptoms) caused
    by the over growth of certain bacteria in the vagina. One of the most noticeable
    symptoms is unpleasant vaginal odor. Some textbooks say BV is an infection, but in
    reality, BV is not a true infection but an upset of the vaginal normal ecology. Ecology
    is the interactions among organisms and their environment. To help you understand the
    vaginal ecology, let us look at the ecology of a river as an example. Under the normal
    condition when the river has sufficient water, there are many fish in it. If the water level
    of the river is running low, the number of fish would decrease and amphibians would
    thrive. This creates an ecological shift. During an episode of BV the good bacterium,
    Lactobacillus, decreases and the unwanted harmful bacteria increase. The cause for
    such an ecological shift is not clear. Suspected factors include antibiotic use, douching,
    hormone reduction due to menopause or pregnancy, and a change of sexual partner. BV
    is the most common vaginal discomfort in women of childbearing age.
<h3>
    What are the signs of BV?
</h3>
<p>
    Women with BV may have an abnormal vaginal discharge with an unpleasant
    odor. Some women report a strong fish-like odor, especially after sex. The discharge can
    be white (milky) or gray. It may also be foamy or watery. Other symptoms may include
    burning when urinating, itching around the outside of the vagina, and irritation. These
    symptoms may also be caused by another type of infection, so it is important to see a
    doctor. Some women with BV have no symptoms at all.
<p>
<h3>
    How is BV treated by a doctor?
</h3>
<p>
    BV is treated with antibiotic medicines prescribed by doctors. These may
    include metronidazole and clindamycin. However, these antibiotics often do not work.
    Continuous use can cause side effects, such as yeast infection.
<h3>
    Why antibiotics for BV often do not work?
</h3>
<p>
    Current treatment options for BV are antibiotics such as metronidazole and
    clindamycin, which are often ineffective. They either do not clear the odor or the odor
    comes right back after the antibiotics are stopped. The reason is that the root cause of
    BV is not a true bacterial infection. Rather, it is an imbalance between “good” and “bad”
    bacteria. Let us use the river ecology again as an example. Killing the “amphibians”
    (bad bacteria) by antibiotics does not increase the number of fish (good bacteria) if the
    water level in the river is low. Therefore, any method that does not address the root
    cause of BV, the vaginal ecological imbalance, is not effective for clearing BV.
</p>
<h3>
    Why home remedies for BV do not work?
</h3>
<p>
    The most common home remedy for BV is douching. Research found that
    douching often causes severe BV with more vaginal odor because it further disrupts
    vaginal ecology. This forces women to buy more douches and become trapped in a cycle
    of douching. Douching is the worst thing for managing vaginal odor. If you want to
    avoid BV never douche.
</p>
<p>
    Another common home remedy for BV is oral or vaginal Lactobacillus capsules
    (probiotic formula) or yogurt that contains lactobacilli. Theoretically, adding more
    “good” bacteria into the vagina should help restore the balance between the “good” and
    “bad” bacteria. Unfortunately, in reality it does not work. The right vaginal ecology
    cannot be restored without addressing the most important ecological factor ─ the
    environment. Let us use the river ecology example again. Putting more live fish (good
    bacteria) into a dried river to outnumber amphibians (bad bacteria) will result in more
    dead fish.
</p>
<p>
    Other home remedies for BV include apple cider vinegar, hydrogen peroxide,
    boric acid, borax, garlic, folic acid, vitamin C pills, etc. All these products are fully or
    partially antiseptic. They may temporarily reduce the number of vaginal bacteria, but
    once the application stops, the “bad” bacteria grow right back.
</p>
<p>
    Since BV sometime recovers by itself, these so called BV remedies, including the
    antibiotics prescribed by doctors, occasionally show effects. This is actually a placebo
    effect. Overall, there are no effective products that can truly clear BV and vaginal odor
    without addressing its root cause.
</p>

<h3>
    NeuEve: a breakthrough innovation to clear BV and vaginal odor
</h3>
<p>
    The patented NeuEve suppository is designed by Dr. Chang, a gynecologist,
    and is made with all FDA-approved natural and safe ingredients. It can clear BV and
    eliminate vaginal odor by a mechanism called ecological restoration. A major reason
    for vaginal ecological imbalance is caused by the lack of available nutrients for the
    “good” bacteria. By supplementing the right combination of nutrients (prebiotics) for the
    “good” bacteria, the dominance of the “good” bacteria can be restored. This results in
    the elimination of BV rapidly with a long-lasting effect. Due to the scientific design for
    ecological restoration that addresses the root cause of BV, the NeuEve suppository is the
    only available product on the market today that can both clear BV effectively and stop
    BV from ever coming back.
</p>

<table class='table table-bordered table-striped table-condensed'>
    <thead>
    <tr>
        <th colspan="2" style="font-size:23px;">
            NeuEve BV Clearing Kit
        </th>
    </tr>
    </thead>
    <tr align="center">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('http://i.imgur.com/wUq1O8B.jpg?1', :class=>'img_pair') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">NeuEve BV Clearing Kit<br>3 suppositories / pack</div>
                    <meta itemprop="category"
                          content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description"
                          content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price">$29.95</span>
                    <meta itemprop="priceCurrency" content="USD"/>
                </span>

                <br>


                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
                        <%= submit_tag 'Add to Cart',
                        :class => 'btn btn-large btn-warning add-to-cart',
                        :id => 'bv-clearing-kit',
                        :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                             height="1">
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>


<h3>
    The NeuEve BV Clearing Kit
</h3>

<p>
    Each NeuEve BV Clearing Kit contains 3 suppositories. Use one every 3 days.
    To avoid leakage after application, insert the suppository at the bedtime. After inserting
    the first suppository, you may notice the odor diminishing within the first 24 hours. By
    continuing to use the two additional suppositories, you ensure the clearance of BV and
    vaginal odor. If you have had only one episode of BV, one BV Clearing Kit may be
    enough for you. However, if you have had recurrent BV for years, after BV is cleared up
    with one kit, you can use NeuEve suppositories regularly after each menses. This will
    stop BV from ever coming back.
</p>

<h3>
    Advantages of NeuEve BV Clearing Kit
</h3>

<ul>
    <li>
        All natural, organic, green and food-grade safe ingredients of plant source.
    </li>
    <li>
        Free of drugs, herbs, chemicals, preservatives and artificial fragrances.
    </li>
    <li>
        Fast relief of vaginal odor and other symptoms associated with BV.
    </li>
    <li>
        Regular use can stop BV from ever coming back.
    </li>
    <li>
        Long lasting effect.
    </li>
    <li>
        No side effects.
    </li>
    <li>
        100% satisfaction guarantee or your money back.
    </li>
</ul>

<h3>
    What customers said about NeuEve:
</h3>
“I am using your product for BV. The result is absolutely wonderful!!! I seem to

be clearing exceptionally well. BV has been a longstanding problem for me and I went

from product to product for years. Thanks a million for creating this wonderful product. I

will be sharing the information and my success with my primary care physician.”

<br><br>

“I have had this awful smell for many years and tried everything possible but

nothing worked, not even prescription drugs. This product really works.”

<br><br>

“This thing works. The bad odor is gone and I feel really good.”

<br><br>

“I have had BV for many years and have seen several OB/GYN doctors and taken

different drugs, but nothing worked. Your product is a godsend. Only one suppository

and the odor is gone. I thank you, thank you, and thank you!!!”

