<% provide(:title, 'Order Now') %>

<br>
<p>
  <strong>
    Before purchasing, please read the <%= link_to 'legal disclaimer', disclaimer_path %>.
  </strong>
</p>
<br>

<strong>
  Limited Time Introductory Offer!<br>
</strong>
When you subscribe to NeuEve, the first month is <strong>FREE!</strong> <br>

<br><br>


<table class='table table-bordered table-striped table-hover'>

  <tr>
    <td>
      <p>
        NeuEve Silver Formula: $36 / month<br>
        First month: <span style="text-decoration: line-through;">$36</span> <strong>FREE</strong>! + $5.95 shipping
      </p>

      <p>
        NeuEve Gold Formula: $99 / month<br>
        First month: <span style="text-decoration: line-through;">$99</span> <strong>FREE</strong>! + $5.95 shipping
      </p>

    </td>
    <th>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QZJH87LLDYFCY">
        <input type="hidden" name="on0" value="">
        <select name="os0">
          <option value="NeuEve Silver">NeuEve Silver : $36 USD - monthly</option>
          <option value="NeuEve Gold">NeuEve Gold : $99 USD - monthly</option>
        </select>
        <br>
        <input type="hidden" name="currency_code" value="USD">
        <%= submit_tag 'Subscribe with PayPal', :class => 'btn btn-large btn-info', :name => 'submit' %>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </th>
  </tr>
</table>
