<% provide(:title, 'Comparison') %>

<div class="jumbotron">
  <h1>Comparison</h1>
</div>

NeuEve and other vaginal care products

<table class='table table-bordered table-striped table-hover table-condensed'>
  <thead>
  <tr>
    <th></th>
    <th><strong>NeuEve</strong></th>
    <th> Lubricant</th>
    <th> Moisturizer</th>
    <th> Antibiotics</th>
    <th> Estrogen</th>
    <th> Vitamin E</th>
    <th> Douche</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Eliminates Vaginal Odors</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i>*</td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>
  <tr>
    <td>Fights Vaginal Dryness</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>
  <tr>
    <td>Fights <%= link_to 'Dyspareunia','https://en.wikipedia.org/wiki/Dyspareunia'%></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>
  <tr>
    <td>All-Natural</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>
  <tr>
    <td>Fast-Acting</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i>*</td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
  </tr>

  <tr>
    <td>Long-Lasting</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Harmful Side-Effects</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td><%= link_to 'Yeast Infections', 'http://women.webmd.com/yeast-infections-common-causes' %></td>
    <td><%= link_to 'Cancer', 'http://www.cancer.org/cancer/cancercauses/othercarcinogens/medicaltreatments/menopausal-hormone-replacement-therapy-and-cancer-risk' %> </td>
    <td>-</td>
    <td><%= link_to 'BV', 'https://en.wikipedia.org/wiki/Bacterial_vaginosis#Causes' %></td>
  </tr>
  </tbody>
</table>
<h6>*Only works for some</h6>
<br>
<br>

<h3>Why is NeuEve better than other vaginal care products?</h3>
<br>


<ol>
  <li>
    <strong>Eliminate odor</strong> The most commonly used commercial product today for vaginal
    cleansing is douche, which has been proven by medical researchers worldwide
    to be a cause of bacterial vaginosis and a source of more severe feminine odor
    at a later time. Because there is no other alternative products, the harmful
    product douche is still on the market. Doctors may prescribe antibiotics, such as
    clindamycin, to treat feminine odor caused by bacterial vaginosis, but antibiotics do
    not always work and sometime even cause yeast infection. Odor can easily come
    back. NeuEve can clear vaginal odor in less than 24 hours by boosting the body’s
    own cleansing power and can keep the odor away for good.


  </li>
  <br>


  <li>
    <strong>Relieve dryness</strong> Vaginal moisturizers, which are water based, are available as
    liquids, gels, or ovules inserted every few days. Vaginal moisturizers can be used
    long term, but they need to be used regularly for optimal effect. Vaginal lubricants
    are shorter acting and are applied at the time of sexual activity to reduce sexual
    pain. They can be either water or silicone based, with the water-based products
    being the most widely available. They are applied to the vaginal opening and/or to
    the penis and often require repeated application during sexual activity. Silicone-
    based lubricants require application of only a very small amount and last longer;
    however, they can interfere with erectile function in male partners. Vitamin E is
    actually an oil based lubricant because vaginal dryness and atrophy is not caused
    by vitamin E deficiency. It is the oil that dissolves vitamin E works like a lubricant.
    NeuEve can moisturize and lubricate for much longer time (up to 7 days with a
    single application) because it help the body to regain its own secretion.

  </li>
  <br>


  <li>
    <strong>Ease pain during sex</strong> When the female hormone level reduces during or after
    menopause or by the anti-hormonal therapy for breast cancer, vaginal tissues
    become atrophic. Major symptoms of the vaginal atrophy are dryness, itching,
    and pain during sexual intercourse. The most effective treatment is hormonal
    supplement, but this is not desirable for some women, especially breast cancer
    survivors. All other products, like moisturizer, lubricant, and vitamin E (oil), cannot
    stop the process of vaginal atrophy. The NeuEve patented, all natural, hormone-
    free formula not only eases the pain during sex, but also stops or in some cases,
    reverses the atrophic process, thereby rejuvenating the vaginal tissue. Women who
    used the formula have reported that they felt like 20 years younger.

  </li>
  <br>

  <li>
    <strong>All natural ingredients</strong>
    All these other products, except vitamin E, contain
    chemicals and drugs. NeuEve is made with all natural, food-grade and organic
    ingredients. It does not contain any drugs, chemicals, petroleum products,
    microorganisms, artificial fragrance, and preservatives. It is completely green.
  </li>
  <br>


  <li>
    <strong>Immediate effect</strong>
    Estrogen does not provide immediate effect like other products.
    It has to be used for a long time before effect is shown, but NeuEve can have
    immediate effect like any other product. Once applied, in 10-20 minutes, its
    lubricating and moisturizing effects are shown. In about 24 hours, the odor is gone.
    In about 1 week, the tissue atrophy stops and revert, much sooner than the effect of
    estrogen.
  </li>
  <br>


  <li>
    <strong>Long-lasting effect</strong> Once it is applied, its effect of vaginal cleansing, deodorizing,
    moisturizing, lubricating, and rejuvenating (reversing of the atrophy) can last for a
    long time.
  </li>

  <br>

  <li>
    <strong>Potential adverse effect</strong>
    The side effects of antibiotics, estrogen and douche are
    well known. There are no known side effect have been reported from our testing
    volunteers for NeuEve probably because it is made with all natural, food-grade and
    organic ingredients.
  </li>

</ol>