<% provide(:title, 'Comparison') %>

<div class="jumbotron">
    <h1>Comparison</h1>
</div>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:16.0pt;font-family:"Calibri","sans-serif"'>Comparison
between <span class=SpellE>NeuEve</span> and other vaginal care products</span></p>

<p class=MsoNormal><span style='font-family:"Calibri","sans-serif"'></span></p>

<p class=MsoNormal><span style='font-family:"Calibri","sans-serif"'></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=648
       style='width:6.75in;margin-left:5.4pt;border-collapse:collapse;border:none;
               mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:160;mso-padding-alt:
               0in 5.4pt 0in 5.4pt;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
               .5pt solid windowtext'>
<tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span class=SpellE><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial'>NeuEve</span></b></span><b
        style='mso-bidi-font-weight:normal'><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Lubricant</span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Moisturizer</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Antibiotic</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Estrogen</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Vitamin E</span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border:solid windowtext 1.0pt;
            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
            solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Douche</span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:1'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Eliminate odor</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:#339966'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-size:10.0pt;font-family:
                "Calibri","sans-serif";mso-bidi-font-family:Arial'>*</span><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:red'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:2'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Relieve<span style='mso-spacerun:yes'>
  </span>dryness</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><b style='mso-bidi-font-weight:
                normal'><span style='font-family:"Calibri","sans-serif";mso-bidi-font-family:
                Arial;color:#00B050'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:3'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Ease pain during sex</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:#339966'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><b style='mso-bidi-font-weight:
                normal'><span style='font-family:"Calibri","sans-serif";mso-bidi-font-family:
                Arial;color:#00B050'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:4'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>All natural ingredients</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:#339966'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:5'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Short-term effect</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:#339966'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-size:10.0pt;font-family:
                "Calibri","sans-serif";mso-bidi-font-family:Arial'>*</span><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:red'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:6'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Long-lasting effect </span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:#339966'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><b style='mso-bidi-font-weight:
                normal'><span style='font-family:"Calibri","sans-serif";mso-bidi-font-family:
                Arial;color:#339966'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'>&#8730;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'>X</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:7;mso-yfti-lastrow:yes'>
    <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
            padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Potential adverse effect</span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='color:#339966'>&#9472;</span></b><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#339966'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='color:#339966'>&#9472;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'></span></p>
    </td>
    <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='color:#339966'>&#9472;</span></b><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'></span></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Yeast</span><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>Cancer</span><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'></span></b></p>
    </td>
    <td width=72 valign=top style='width:.75in;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
        style='color:#339966'>&#9472;</span></b><b style='mso-bidi-font-weight:normal'><span
        style='font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial;
                color:#00B050'></span></b></p>
    </td>
    <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
            border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
            mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial'>BV</span><span style='font-family:"Calibri","sans-serif";
                mso-bidi-font-family:Arial;color:red'></span></p>
    </td>
</tr>
</table>

<p class=MsoNormal style='margin-left:.25in'><span style='font-size:10.0pt;
        font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial'>*Only works for
some.<span style='mso-spacerun:yes'>  </span></span></p>


</div>
