<% provide(:title, 'Comparison of Vaginal Dryness and Painful Sex Options') %>
<% provide(:description, 'Simple breakdown of NeuEve vs. other vaginal dryness and atrophy remedies. NeuEve is the only non-hormonal, effective, side-effect-free option.') %>
<% provide(:last_modified, 'October 1, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Comparison</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Comparison</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">


                    Product Comparison based on customers' feedback<sup>*</sup>

                    <table class='table table-bordered table-striped table-hover table-condensed'>
                        <thead>
                        <tr>
                            <th>Function reported by customers' feedback<sup>*</sup></th>
                            <th><strong>NeuEve</strong></th>
                            <th> Moisturizer
                            </th>
                            <th> Lubricant / <br>
                                Jelly
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eases painful sex</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-check'></i></td>
                        </tr>
                        <tr>
                            <td>Alleviates Dryness</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Reverses Atrophy</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Relieves Itching</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Clears Odors</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Induces Orgasms</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Works Fast</td>
                            <td><i class='fas fa-check'></i></td>
                            <td><i class='fas fa-times'></i></td>
                            <td><i class='fas fa-times'></i></td>
                        </tr>

                        <tr>
                            <td>Duration of Relief</td>
                            <td>7 days</td>
                            <td>3-4 days</td>
                            <td>Minutes</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <h3>Why is NeuEve better than other vaginal care products?<sup>*</sup></h3>
                    <br>


                    <ol>
                        <li>
                            <strong>Eases Painful Sex and Dyspareunia<sup>*</sup></strong><br> When the female hormone
                            level reduces during or after
                            menopause or by the anti-hormonal therapy for breast cancer, vaginal tissues become
                            atrophic. Major symptoms of the
                            vaginal atrophy include dryness, itching, burning, and pain during sexual intercourse. The
                            most effective treatment
                            is hormonal supplement, but this is not desirable for some women, especially breast cancer
                            survivors. All other
                            products, like moisturizer, lubricant, and vitamin E (oil), cannot stop the process of
                            vaginal atrophy. The NeuEve
                            patented, all natural, hormone-free formula eases pain during sex, and may temporarily
                            decrease the appearance of
                            atrophy. It works by local nourishment to the mucosal tissues like calcium to bones. Women
                            who used the formula have
                            reported that they felt like 20 years younger.
                        </li>
                        <br>


                        <li>
                            <strong>Alleviates Vaginal Dryness<sup>*</sup></strong><br> Vaginal moisturizers, which are
                            water based, are available as
                            liquids,
                            gels, or ovules inserted every few days. Vaginal moisturizers can be used long term, but
                            they need to be used
                            regularly for optimal effect. Vaginal lubricants are shorter acting and are applied at the
                            time of sexual activity
                            to reduce sexual pain. They can be either water or silicone based, with the water-based
                            products being the most
                            widely available. They are applied to the vaginal opening and/or to the penis and often
                            require repeated application
                            during sexual activity. Silicone-based lubricants require application of only a very small
                            amount and last longer;
                            however, they can interfere with erectile function in male partners. Vitamin E works like an
                            oil based lubricant.
                            The NeuEve formula may moisturize and lubricate for much longer time (up to 7 days with a
                            single application)
                            because
                            it helps the body to regain its own secretions.
                        </li>
                        <br>


                        <li>
                            <strong>Clears Vaginal Odors<sup>*</sup></strong><br> The most commonly used commercial
                            product today for vaginal cleansing
                            is a douche. Because there are few other alternative products, douches remain on the market,
                            despite mounting
                            evidence that the products contribute to bacterial vaginosis. Doctors may prescribe
                            antibiotics, such as
                            clindamycin, to treat feminine odor caused by bacterial vaginosis, but antibiotics do not
                            always work and may cause
                            yeast infections in some patients. Thus, the odor may easily come back. NeuEve has shown in
                            many women to clear
                            their vaginal odor. Since it only contains nutrients without any drugs, chemicals or
                            antibiotics, it may work by
                            ecological restoration by promoting the friendly Lactobacillus bacteria.

                        </li>
                        <br>

                        <li>
                            <strong>All-Natural<sup>*</sup></strong><br>
                            All these other products, except vitamin E, contain manufactured chemicals and drugs. NeuEve
                            is made with all
                            natural, food-grade and organic ingredients. It does not contain any separately manufactured
                            drugs, chemicals,
                            petroleum products, GMO-food ingredients, animal products, microorganisms, artificial
                            fragrances, or preservatives.
                        </li>
                        <br>


                        <li>
                            <strong>Works Fast<sup>*</sup></strong><br>
                            Estrogen does not provide immediate effect like water based moisturizing products. It has to
                            be used for a long time
                            before effect is shown, but NeuEve usually has an immediate effect in most women. Once
                            applied, in many women, after
                            just 10-20 minutes, NeuEve’s lubricating and moisturizing appearances are noticeable. In
                            many cases, women report
                            that any previous odor is gone in about 24 hours. In about one week, many women report that
                            the appearance of tissue
                            atrophy has abated, and in fact improved, while using the product.
                        </li>
                        <br>


                        <li>
                            <strong>Long-Lasting<sup>*</sup></strong><br> Once it is applied, its effect of vaginal
                            cleansing, deodorizing, moisturizing,
                            lubricating, and rejuvenating (reversing the appearance of atrophy) may last for a long
                            time.
                        </li>

                        <br>

                        <li>
                            <strong>Side-Effects<sup>*</sup></strong><br>
                            The side effects of antibiotics, estrogen and douche are well known. While we have not
                            undertaken independent
                            clinical studies on this issue, there are no known side effects with NeuEve other than a few
                            cases of suspected
                            allergy. Among ten thousand women who have used NeuEve to date, only 3 reported allergy-like
                            symptoms (such as
                            itching). We believe that probably because it is made with all natural, food-grade and
                            organic ingredients, there
                            appear to be fewer instances of side effects.
                        </li>
                    </ol>

                    <em>
                        We offer a 100% customer satisfaction guarantee on all of our products.
                        We are so confident our products will make a noticeable difference in your wellness that if any
                        product does not meet
                        your expectations, return the product within 30 days for a full credit, refund or exchange.
                    </em>
                </div>
            </div>
        </div>
    </div>
</section>