<% provide(:title, 'Contact') %>
<% provide(:description, 'Contact NeuEve for questions, comments and concerns. We reply extremely quickly.') %>
<% provide(:last_modified, 'July 19, 2017') %>

<div class="jumbotron">
    <h1>Contact Us</h1>
</div>
<p>
Renjie Chang
<p>
Email to: contact@neueve.com
<p>
Palatine, Illinois, USA


