<% provide(:title, 'Disclaimer') %>


<div class="jumbotron">
    <h1>Disclaimer</h1>
</div>

<br>

<table class="disclaimer-table table">
  <tbody>
  <tr>
    <td>
      <ul class="strong em margin10">
        <li>
          We make no structural or functional or therapeutic claims of any kind whatsoever for our products.
        </li>
        <li>
          Readers are
          invited to try our products and see for themselves what if any benefits they may experience.
        </li>
        <li>
          Results given in
          testimonials are from actual customers who have used our products but are not claimed as typical.
        </li>
        <li>
          Your own
          experience(s) may vary from those mentioned in the testimonials.
        </li>
        <li>
          If you have a medical condition, allergies or any health situation that might impact your safe use of any cosmetic
          or hygiene products, consult with your licensed physician before using our (or any) products.
        </li>
        <li>
          Every effort possible is made to offer high-quality, safe and effective products for the consumer.
        </li>
        <li>
          We urge you to
          test a small number of our product first for compatibility before using it routinely.
        </li>
      </ul>




      Thank you for your understanding.
    </td>
  </tr>
  </tbody>
</table>