<% provide(:title, 'Disclaimer') %>


<div class="jumbotron">
  <h1>Disclaimer</h1>
</div>

<br>

<table class="disclaimer-table table">
  <tbody>
  <tr>
    <td>
      Disclaimer Notice:
      <ul class="margin10">
        <li>
          The statements regarding our products have not been evaluated by the Food and Drug Administration.
        </li>
        <li>
          These products are not intended to diagnose, treat, cure or prevent any disease.
        </li>
        <li>
          The information on this Website, including any links to external sites or testimonials given by customers is
          designed for educational purposes only.
        </li>
        <li>
          It is not intended to be a substitute for the advice and care of a licensed medical professional.
        </li>
      </ul>

      <ul class="margin10">
        <li>
          We make no structural or functional or therapeutic claims of any kind whatsoever for our products.
        </li>
        <li>
          Readers are invited to try our products and see for themselves what if any benefits they may experience.
        </li>
        <li>
          Results given in testimonials are from actual customers who have used our products but are not claimed as
          typical.
        </li>
        <li>
          Your own experience(s) may vary from those mentioned in the testimonials.
        </li>
        <li>
          If you have a medical condition, allergies or any health situation that might impact your safe use of any
          cosmetic or hygiene products, consult with your licensed physician before using our (or any) products.
        </li>
        <li>
          Every effort possible is made to offer high-quality, safe and effective products for the consumer.
        </li>
        <li>
          We urge you to
          test a small number of our product first for compatibility before using it routinely.
        </li>
      </ul>

      Liability
      <ul class="margin10">
        <li>
          Customers agree to hold Lavax, Inc. harmless in any claim of product liability. Please consult a doctor with
          any questions or concerns you might have regarding your condition.
        </li>
      </ul>

      Guarantee
      <ul class="margin10">
        <li>
          We offer a complete satisfaction guarantee, if you are not satisfied return unused product in the box within
          30 days from date of sale for a refund of your product purchase. Shipping and handling is an outside service
          and is non-refundable.
        </li>
        <li>
          Customers agree to all the information given on this web site as the conditions of sale. Lavax, Inc. will not
          be held liable for any damages resulting from the correct or incorrect use of any information published on
          this website
        </li>
      </ul>

      Privacy
      <ul class="margin10">
        <li>
          We will never give out your personal information or email address, your privacy is secured. From time to time
          we may send a notification of specials running on our site to our customers, you may opt-out of this at any
          time.
        </li>
        <li>
          We have many thousands of customers over the years. We are available to assist our customers, if you have any
          questions, please contact us by email or telephone. We will do everything in our power to assist and advise
          you accordingly within the provisions of this disclaimer. We wish you good health!
        </li>
      </ul>

        Amazon Affiliation
        <ul class="margin10">
            <li>
                Lavax, Inc. is a participant in the Amazon Services LLC Associates Program, an affiliate
                advertising program designed to provide a means for sites to earn advertising fees by advertising and
                linking to <%= link_to 'amazon.com', 'https://www.amazon.com/?tag=neu08-20'%>.
            </li>
        </ul>

        Thank you for your understanding.
    </td>
  </tr>
  </tbody>
</table>