<div class="jumbotron">
    <h1>Disclaimer</h1>
</div>

We make no structural or functional or therapeutic claims of any kind whatsoever for our products.  Readers are invited to try our products and see for themselves what if any benefits they may experience.  Results given in testimonials are from actual customers who have used our products but are not claimed as typical.  Your own experience(s) may vary from those mentioned in the testimonials.
If you have a medical condition, allergies or any health situation that might impact your safe use of any cosmetic or hygiene products, consult with your licensed physician before using our (or any) products.
Every effort possible is made to offer high-quality, safe and effective products for the consumer.  We urge you to test a small number of our product first for compatibility before using it routinely.
We CANNOT ACCEPT RETURNS due to FDA regulations.  We do not want to put out a product that someone else besides our employees in a sterile environment has handled.
Thank you for your understanding.
