<div class="jumbotron">
    <h1>Frequently Asked Questions</h1>
</div>

We have listed some questions and answers here.  If your question is not included below, please send it to us via e-mail at info@neueve.com.

Why women who suffer from vaginal dryness often have also feminine odor?
When women suffer from vaginal dryness, the vaginal ecological environment has changed from moist to dry.  This change can drive an ecological shift in dominant vaginal bacterial flora. For example, if a river dries, fish would die and other live forms that can accommodate low water and dried land, such as amphibians, may thrive.  This is called ecological shift.  When such a shift occurs in the vaginal ecology, bacterial vaginosis (BV) occurs and it can cause pungent fishy odor.

Is there a product for both vaginal dryness and feminine odor?
There is now.  The NeuEve suppository is the only product today that can simultaneously relieve vaginal dryness and feminine odor.

Why is NeuEve produced in suppository form?
In comparison with cream, vaginal suppositories allow women to deliver the product to the place where the vaginal dryness and malodor occur, not only limited to the labia.  Also, cream can be messy and difficult to control dosage.  Suppositories are cleaner and also better for dosage control.  For example, the effect of one suppository can last up to five days, especially with the NeuEve Gold formula.

Why are NeuEve suppositories oil-based?
The special formula with timed and extended release requires oil.  Also, oil does better for lubrication of the vagina in order to prevent pain during sexual intercourse.  It is also good for moisturizing the vaginal mucous membrane.  A thin film of oil on the mucosa protects it from pathogens like fungi or bacteria to colonize.

When can I use NeuEve suppositories?
When required, about fifteen minutes before sexual intercourse.  To improve severe vaginal dryness and atrophy, it is a good idea to apply one suppository every 2 days (for the NeuEve-Silver) or every 5 days (for NeuEve-Gold) before sleep, over a period of two to four weeks.

What are the difference between NeuEve-Silver and Gold?
Their active ingredients are exactly the same.  The difference is in the formulation.  The NeuEve-Silver is formulated for standard timed-release and the effect will last for 2-3 days, while the NeuEve-Gold is formulated for extended timed-release and the effect will last for 4-5 days.  If you have severe vaginal dryness and/or feminine odor, you can use NeuEve-Silver first with a more frequently dosing (once in 2 days) to suppress the symptoms.  Once your symptoms are under control, you can switch to NeuEve-Gold for maintenance with a less frequent application (once in 4 days).  However, if you have a busy schedule and do not like frequent suppository application every other day, NeuEve-Gold is a good choice.  You can also try these two formulae out to decide which one is best for you.

How do I use NeuEve vaginal suppositories?
The vaginal suppository is inserted into the vagina similar to a tampon. Once introduced, it dissolves within 10-15 minutes and achieves its soothing effect entirely unnoticed.  Before it dissolves, you should remain the lay down position to avoid the suppository to drop out.  Once dissolved, it will remain in the vaginal without seepage and will last for 2-5 days depending on the product.  Unlike a tampon, you will not need to withdraw the suppository once inserted.  It will disappear with time, similar to the disappearance of applied body lotion.

Does the use of NeuEve vaginal suppositories influence the effect of condoms?
Latex condoms can be interrupted by petroleum product, but the NeuEve is based on plant oil.  However, to be on the safe side, you should not use NeuEve suppository simultaneously with a latex condom, but you may use non-latex condom.

Do NeuEve vaginal suppositories provide contraceptive protection?
NeuEve does not provide contraceptive protection, nor does it offer protection against communicable diseases.

Since NeuEve can eliminate feminine odor caused by BV, can it treat other vaginal infections?
NeuEve is not a drug or antibiotics.  It does not treat any infections.  BV is not a true infection but an imbalance of vaginal ecology.  Unlike antibiotics that treat BV by killing dominant microbial species, NeuEve uses a natural, ecological approach to restore the ecological balance.  It changes the vaginal environment from dry to moist, like adding water to a dried river.  The newly established vaginal condition becomes in favor of good bacteria but not the bad bacteria.  As a result, feminine odor is eliminated. 

