<% provide(:title, 'FAQ') %>


<div class="jumbotron">
  <h1>Frequently Asked Questions</h1>
</div>
<p>
  We have listed some questions and answers here. If your question is not included below, please send it to us via
  e-mail at <%= mail_to "NeuEve.Suppositories@gmail.com" %>.

<h3>
  Jelly is cheap. How is NeuEve better than jelly?<br>
</h3>
<p>
  Scientific research found that most men can be sexually active well into their 80s, but women have to go through
  menopause at mid age. The gender difference in sexuality and aging puts a great challenge on marriages. Therefore,
  products that can help women overcome the aging effect are important for maintaining marriage and relationship.
</p>
<p>
  Most jellies (lubricants or moisturizers) are made with chemicals like glycerin, propylene glycol and/or polyethylene
  glycol (PEG), the same chemicals for making automobile antifreeze which is well known for its toxicity. Jellies
  provide only a short-term lubrication but can speed up the aging process by tissue dehydration. After using jellies, a
  woman’s vagina shrinks, causing a rapid lose of the ability to have intimacy. Some women may have to go through
  surgery in order to keep their relationships, while others may have to forgo romantic intimacy altogether at a
  relatively young age.
</p>
<p>
  NeuEve is different. It can defy aging by reviving the mucus gland in women and reversing the atrophy. Many women who
  previously suffered severe vaginal atrophy have recovered by using NeuEve. If NeuEve is used early and regularly, the
  onset of vaginal atrophy can be substantially delayed. Therefore, even though jellies are cheap, their toxic chemicals
  can speed up aging and their effect wears off rapidly. NeuEve has a long-lasting effect. One application lasts 7-8
  days. It is a worthwhile investment for women because it can help extend their romantic intimacy and good marriage
  well into the golden years.
</p>
<br>

<h3>
  With only 3 NeuEve suppositories my dryness is gone. Should I stop using NeuEve?<br>
</h3>
<p>
  Vaginal dryness is not a disease that can be cured. It is an aging outcome, like wrinkles. Wrinkles show up when
  people reach mid-age, say in the 40s, but women often start using cream at a much younger age. The reason is that an
  early and regular use of cream can result in a later onset of wrinkles. If a woman stops using the anti-aging cream
  before mid-age, wrinkles may show up sooner. Wrinkles can be removed by botox, but it is costly and not without risk.
  Therefore using cream to manage wrinkles early is a better investment than having a botox later. Likewise, early and
  regular use of NeuEve can help women delay the onset of vaginal atrophy. It allows women to enjoy many more years of
  romantic intimacy and a healthful lifestyle.
</p>
<br>

<h3>
  Why do women suffer from vaginal dryness and odor?<br>
</h3>
<p>
  When women suffer from vaginal dryness, the vaginal ecological environment has changed from moist to dry. This change
  can drive an ecological shift in dominant vaginal bacterial flora. For example, if a river dries, fish would die and
  other live forms that can accommodate low water and dried land, such as amphibians, may thrive. This is called
  ecological shift. When such a shift occurs in the vaginal ecology, bacterial vaginosis (BV) occurs and it can cause
  pungent fishy odor.
</p>
<br>

<h3>
  How do I select the right NeuEve suppository formula?<br>
</h3>
<p>
  There are two plans: recovery and maintenance. For women with severe dryness and atrophy, it may be too painful to
  have intimacy and they may be highly sensitive due to cracks and spotting. These women can begin with the recovery
  plan first by using the mild Silk formula (8/pk) for one month (use 1 in 4 days). Then, they can switch to the regular
  Silver formula (use 1 in 5 days) for faster recovery. Depending on the individual, one or more packs of Silver
  formulas may be needed for achieving recovery (regaining the ability to have intimacy without pain). At this point,
  women can switch to the Gold formula for long-term maintenance.
</p>
<p>
  For women who have mild vaginal dryness and painful sex but who can still have sex, they can start directly with the
  maintenance plan using the Silver formula. It is a good idea to use a few suppositories (1 in 5 days) first to
  condition the dried vaginal tissue before having intimacy. After using 6 Silver suppositories in a month, the dryness
  and dyspareunia will reduce and these women can switch to the Gold formula and use one in 7-8 days for long-term
  maintenance of the vaginal wellness.
</p>
<p>
  For women having just odor (e.g., BV) without atrophy, they can use the Silver formula suppository. Just use one
  suppository, and the odor will usually be gone. Continuous using two more suppositories will provide more assurance
  that the odor will not return. The remaining suppositories can be saved for future use in case the odor comes back at
  a later time. However, if the NeuEve suppositories are used regularly to maintain vaginal wellness, the odor will be
  gone for good. Below is a flowchart to illustrate how to select these three formulas.
</p>
<div align="center">
  <%= image_tag("https://dl.dropboxusercontent.com/s/tltj9tmk4vi82dm/NeuEve%20flowchart-1.png") %>
</div>
<br>

<h3>
  What are the differences among the Silk, Silver and Gold formulas?
</h3>
<p>
  The major differences are in their ingredient concentrations and timed-release formulations, which determine their
  strength and effective duration. A table is listed below to illustrate these differences:
</p>

<table class='table table-bordered table-striped table-hover table-condensed'>
  <thead>
  <tr>
    <th>Suppository</th>
    <th>Silk</th>
    <th>Silver</th>
    <th>Gold</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Effect</strong></td>
    <td>Mild</td>
    <td>Moderate</td>
    <td>Strong</td>
  </tr>
  <tr>
    <td><strong>Suitable for</strong></td>
    <td>Recovery</td>
    <td>Recovery & Maintenance</td>
    <td>Maintenance</td>
  </tr>
  <tr>
    <td><strong>Each lasts</strong></td>
    <td>3-4 days</td>
    <td>5-6 days</td>
    <td>7-8 days</td>
  </tr>
  <tr>
    <td><strong>Supplies per Month</strong></td>
    <td>8</td>
    <td>6</td>
    <td>4</td>
  </tr>
  </tbody>
</table>

<p>
  The NeuEve Silk formula is milder, suitable for highly sensitive women, but it only lasts 3-4 days. The Silver formula
  is moderate and the effect can last for 5-6 days. It is designed for clearing odor and eases dryness quickly and can
  be used for both recovery and maintenance. The NeuEve Gold formula is more concentrated in certain ingredients and
  with extended release. It is designed for long-term relieving of dryness and atrophy and suitable for easy maintenance
  (use 1 per week) because it can last 7-8 days.
</p>
<p>
  If you have had vaginal dryness and painful sex for some time and are not sure which formula is right for you based
  upon the flowchart above, it would be a good idea to start first with the Silk, then the Silver, and finally the Gold.
  Because the Silver formula can be used for both recovery and maintenance, it is sold in most stores that carry NeuEve
  products. If you use the Silver formula first and feel burning, you may be the sensitive type. You can order the Silk
  formula on-line on this website if it is not available in the store near you.
</p>
<br>

<h3>
  How do I use NeuEve vaginal suppositories?
</h3>
<p>
  The vaginal suppository is inserted into the vagina similarly to a tampon. Once introduced, it dissolves within 10-15
  minutes and achieves its soothing effect entirely unnoticed. Before it dissolves, you should remain laying down to
  prevent the suppository from dropping out. It works best in 2nd and 3rd days. Once dissolved, it will remain in the
  vagina without seepage and will last for 4-8 days depending on the product used. Unlike a tampon, you will not need to
  withdraw the suppository once inserted. It will disappear with time, similar to the disappearance of applied body
  lotion.
</p>
<br>

<h3>
  In the second morning, I noticed that a chunk of suppository leaked out. Should I be worried about it?
</h3>
<p>
  Some women may have suffered dryness for a long time, so that they do not have enough secretion to dissolve the
  water-soluble portion of the NeuEve suppository. The suppository includes both oil-soluble and water-soluble materials
  like a multi-vitamin pill (e.g., vitamin E is oil soluble while vitamin C is water soluble). As a result, a portion of
  the water-soluble materials may leak out. You should not be worried about this. Each time when you use a NeuEve
  suppository, a small portion of the water-soluble material will be dissolved. Gradually, the glands will become
  revived and more and more water-soluble materials will be dissolved and play a role in the maintenance of feminine
  wellness.
</p>
<br>

<h3>
  Do NeuEve vaginal suppositories provide contraceptive protection?
</h3>
<p>
  NeuEve does not provide contraceptive protection, nor does it offer protection against communicable diseases.
</p>
<br>

<h3>
  Does the use of NeuEve vaginal suppositories influence the effect of condoms?
</h3>
<p>
  Latex condoms can be damaged by a petroleum product, but NeuEve is based on palm oil. However, to be on the safe
  side, you should not use NeuEve simultaneously with a latex condom, but you may use non-latex condoms.
</p>
<br>

<h3>
  Since NeuEve can eliminate odor caused by BV, can it take care of other vaginal infections?
</h3>
<p>
  NeuEve is not a drug or antibiotic. It does not treat any infections. BV is not a true infection but an imbalance of
  vaginal ecology. Unlike antibiotics that treat BV by killing dominant microbial species, NeuEve uses a natural,
  ecological approach to restore the ecological balance. It changes the vaginal environment from dry to moist, like
  adding water to a dried river. The newly established vaginal condition becomes favorable for good bacteria but not bad
  bacteria. As a result, feminine odor is eliminated.
</p>
<br>

<h3>
  How does NeuEve work in relieving vaginal atrophy without hormone?
</h3>
<p>
  Menopause also causes osteoporosis, but it is reversible without estrogen. Calcium and vitamin D can do it. Likewise,
  vaginal atrophy should also be reversible without estrogen. Our product NeuEve can do it because NeuEve provides
  nutrients for the vaginal tissue as does calcium and vitamin D for bones.
</p>
<p>
  Before a woman reaches menopause, her vagina is moisturized by mucus glands. After menopause, estrogen reduces, the
  vaginal gland dries, and the mucosa shrinks. Estrogen can control these glands, but the glands can also be activated
  by other things.
</p>
<p>
  Let us look at dry eyes as an example. When tear glands shrink with aging, eyes dry. People often use artificial tears
  to find relief, but the effect wears off quickly. It is better to revive dried tear glands, which provide
  auto-lubrication 24/7. Tear glands can be activated centrally by deep sorrow or locally by cutting an onion. But onion
  smells bad. It would be nice if a rose could be used as the tear stimulant.
</p>
<p>
  We have found the “rose” for reviving dried glands in women. This is the secret of NeuEve. Due to revival of
  mucus-secreting glands, the vaginal mucosa is auto-lubricated and moisturized 24/7. Many women using NeuEve report
  reversal of atrophy. We use “rose” to represent NeuEve because it clears up odor by restoring vaginal ecology. Women
  smell fresh and feel rejuvenated after using NeuEve.
</p>
<br>

<h3>What is the active ingredient in NeuEve that works?</h3>
<p>
  As NeuEve is natural product, not a drug, it is difficult to say which ingredient is the active one. I would say that
  all ingredients listed in the NeuEve formulation contribute to its effect. For example, if you try to lose weight by
  skipping breakfast, you may get morning dizziness. The hidden cause is hunger. You can treat the dizziness with a
  drug, or you can start eating breakfast to get rid of your hunger and also the dizziness. If breakfast works, what is
  the active ingredient in the breakfast that “cures” the dizziness?
</p>
<br>

<h3>I have lichen sclerosus with itching and painful sex. Can NeuEve help me?</h3>
<p>
  NeuEve is not a drug and cannot treat any disease. However, two women suffering from lichen sclerosus have purchased
  NeuEve suppositories repeatedly. This suggests that they might have found some relief with NeuEve.
</p>
<br>


<h3>
  Why is NeuEve produced in suppository form?<br>
</h3>
<p>
  In comparison with cream, vaginal suppositories allow women to deliver the product to the place where the vaginal
  dryness and malodor occur, not only limited to the labia. Also, cream can be messy and difficult to control dosage.
  Suppositories are cleaner and also better for dosage control. For example, the effect of one suppository can last up
  to seven days, especially with the NeuEve Gold formula.
</p>
<br>


<h3>
  Why are NeuEve suppositories oil-based?<br>
</h3>
<p>
  The special formula with timed and extended release requires oil. Also, oil does better for the delivery of the
  oil-soluble vitamins and for lubrication of the vagina in order to prevent pain during sexual intercourse. It is also
  good for moisturizing the vaginal mucous membrane. A thin film of oil on the mucosa protects it from pathogens like
  fungi or bacteria. Our product uses only food-grade all natural vegetable oil (e.g., palm and palm kernel oil) as its
  base. No synthetic or petroleum-based oil is used.
</p>
