<% provide(:title, 'FAQ') %>


<div class="jumbotron">
    <h1>Frequently Asked Questions</h1>
</div>
<p>
    We have listed some questions and answers here. If your question is not included below, please send it to us via
    e-mail at <%= mail_to "NeuEve.Suppositories@gmail.com" %>.
<p>
    <h3>
        Why women who suffer from vaginal dryness often also have feminine odor?<br>
    </h3>
    When women suffer from vaginal dryness, the vaginal ecological environment has changed from moist to dry. This
    change can drive an ecological shift in dominant vaginal bacterial flora. For example, if a river dries, fish would
    die and other live forms that can accommodate low water and dried land, such as amphibians, may thrive. This is
    called ecological shift. When such a shift occurs in the vaginal ecology, bacterial vaginosis (BV) occurs and it can
    cause pungent fishy odor.<br><br>
<p>
    <h3>
        Is there a product for both vaginal dryness and feminine odor?<br>
    </h3>
    There is one now. The NeuEve suppository is the only product today that can simultaneously relieve vaginal dryness
    and feminine odor.<br><br>
<p>
    <h3>
        Why is NeuEve produced in suppository form?<br>
    </h3>
    In comparison with cream, vaginal suppositories allow women to deliver the product to the place where the vaginal
    dryness and malodor occur, not only limited to the labia. Also, cream can be messy and difficult to control dosage.
    Suppositories are cleaner and also better for dosage control. For example, the effect of one suppository can last up
    to seven days, especially with the NeuEve Gold formula.<br><br>
<p>
    <h3>
        Why are NeuEve suppositories oil-based?<br>
    </h3>
    The special formula with timed and extended release requires oil. Also, oil does better for lubrication of the
    vagina in order to prevent pain during sexual intercourse. It is also good for moisturizing the vaginal mucous
    membrane. A thin film of oil on the mucosa protects it from pathogens like fungi or bacteria to colonize. Our
    product uses only food-grade all natural vegetable oil as its base. No synthetic or petroleum-based oil is used.<br><br>
<p>
    <h3>
        When can I use NeuEve suppositories?<br>
    </h3>
    When required, about fifteen minutes before sexual intercourse. To improve severe vaginal dryness and atrophy, it is
    a good idea to apply one suppository every 2-4 days (for the NeuEve-Silver) or every 5-7 days (for NeuEve-Gold)
    before sleep, over a period of two to four weeks.<br><br>
<p>
    Continuous application of the product is highly recommended for postmenopausal women with vaginal dryness because
    vaginal atrophy can occur rapidly after the reduction of female hormone due to menopause. The NeuEve product can
    overcome the dryness and slow down the progress of atrophy as an effective moisturizer. If vaginal dryness is left
    untreated, the atrophy may occur and it will become difficult to treat. <br><br>
<p>
    <h3>
        What are the differences between the Silver and Gold formulas?<br>
    </h3>

    The major differences are in their sizes, concentrations of certain ingredients and timed-release formulations. The NeuEve Silver formula is formulated for standard timed-release and the effect will last for 2-4 days and is designed for clearing odor and ease dryness, while the NeuEve Gold formula is more concentrated in certain ingredients and with extended release.  It is designed for relieving dryness and atrophy (e.g., painful sex or unable to have sex). <br><br>

    The effect of one suppository may last 4-7 days. If you are pre-menopausal and have more severe feminine odor but milder dryness you can try the Silver formula.  If you are postmenopausal or had treatment for breast cancer and have severe dryness and atrophy, Gold formula will be the right choice. <br><br>


    For women with severe atrophy, it is recommended to use the NeuEve cream for atrophy and in conjunction with the Gold formula for 3-6 weeks (2 suppositories per week) before having sex.  Recovery can be evaluated by improvement of atrophic symptoms such as itching, pain and lack of elasticity.  If the recovery is slow, a longer period of application of the NeuEve cream and Gold formula suppositories is recommended.<br><br>
<p>
    <h3>
        How do I use NeuEve vaginal suppositories?<br>
    </h3>
    The vaginal suppository is inserted into the vagina similar to a tampon. Once introduced, it dissolves within 10-15
    minutes and achieves its soothing effect entirely unnoticed. Before it dissolves, you should remain the lay down
    position to avoid the suppository to drop out. Once dissolved, it will remain in the vagina without seepage and will
    last for 3-7 days depending on the product used. Unlike a tampon, you will not need to withdraw the suppository once
    inserted. It will disappear with time, similar to the disappearance of applied body lotion.<br><br>
<p>
    <h3>
        Does the use of NeuEve vaginal suppositories influence the effect of condoms?<br>
    </h3>
    Latex condoms can be interrupted by petroleum product, but the NeuEve is based on vegetable oil. However, to be on
    the safe side, you should not use NeuEve suppository simultaneously with a latex condom, but you may use non-latex
    condoms.
<p>
    <h3>
        Do NeuEve vaginal suppositories provide contraceptive protection?<br>
    </h3>
    NeuEve does not provide contraceptive protection, nor does it offer protection against communicable diseases.<br><br>
<p>
    <h3>
        Since NeuEve can eliminate feminine odor caused by BV, can it treat other vaginal infections?<br>
    </h3>
    NeuEve is not a drug or antibiotics. It does not treat any infections. BV is not a true infection but an imbalance
    of vaginal ecology. Unlike antibiotics that treat BV by killing dominant microbial species, NeuEve uses a natural,
    ecological approach to restore the ecological balance. It changes the vaginal environment from dry to moist, like
    adding water to a dried river. The newly established vaginal condition becomes in favor of good bacteria but not the
    bad bacteria. As a result, feminine odor is eliminated.






