<% provide(:title, 'Friends of NeuEve') %>

<div class="jumbotron">
    <h1>Friends of NeuEve</h1>
</div>

<p>
    This is where we recognize our friends, and show them that we are thankful for their love and encouragement. We are
    still a very small company and we would be nowhere without the support of our friends.
</p>

<h4>
    <%= link_to "Women's Health Foundation", 'http://womenshealthfoundation.org/' %>
</h4>

<h4>
    <%= link_to "Beauty Concepts International", 'http://www.beautyconceptsintl.com/wp/' %>
</h4>

<h4>
    <%= link_to "Our Lemongrass Spa - Dorothy Baca", 'http://www.ourlemongrassspa.com/dotty' %>
</h4>