
<div class="jumbotron">
    <%= image_tag "home-hero.png" %>
</div>

<p>
For women with vaginal odor, dryness, or painful sex,
NeuEve suppositories can help.

<p>
    <ul>
        <li>
            Eliminate odor
        </li>
        <li>
             Ease dryness
        </li>
        <li>
             Alleviate dyspareunia
        </li>
    </ul>
<p>
By using NeuEve®, your can:
<p>
    <ul>
        <li>
             Relive youth
        </li>
        <li>
             Reclaim feminine power
        </li>
        <li>
             Re-establish confidence
        </li>
    </ul>

<p>
When women suffer from vaginal dryness, they often have other issues, such as feminine odor and painful sex.  The NeuEve suppository is by far the only available women’s personal hygiene product that can provide multiple functions as:
<p>
    <ul>
        <li>
             Deodorant
        </li>
        <li>
             Cleanser (dry-cleanser as opposed to douche)

        </li>
        <li>
             Moisturizer

        </li>
        <li>
             Lubricant
        </li>
    </ul>

<p>
Application of NeuEve can simultaneously alleviate feminine odor, vaginal dryness, and sexual pain.  Unlike other deodorants, cleansers, moisturizers, and lubricants, the NeuEve patented formula contains all natural and green (food-grade) ingredients.  It does not contain any potentially harmful synthetic, artificial, or petroleum-derived chemical additives or preservatives.