<% provide(:title, 'Natural Suppositories for Women') %>
<br>
<br>

<div class="jumbotron">
    <h1>
            Natural Suppositories for Women
    </h1>
</div>
<p>
<p><strong>
    100% natural and green(food-grade) ingredients. 
    <p> No harmful synthetic and chemical preservatives.<p>

    <p>Most women experience menopause at some point in their life, during that period most women suffer from vaginal dryness which leads to painful sex. Often the dryness is accompanied with unpleasant odors.<p> 

    <h2>
    NeuEve suppositories can help:
    </h2>    
</strong>
<p>
    <em>
        <ul>
            
                <p>Eliminate odor<p>            
            
                <p>Ease dryness<p>
            
                <p>Alleviate dyspareunia<p>
            
        </ul>
    </em>
<p><strong>
    <h3>By using NeuEve, you can:</h3>
</strong>
<p>
    <em>
        <ul>
            
                <p>Relive youth<p>
            
            
                <p>Reclaim feminine power<p>
            
            
                <p>Re-establish confidence<p>
            
        </ul>
    </em>
<p>
    

    <h4>Only NeuEve can provide multiple functions as:</h4>
<p>
    <em>
        <ul>
            
            <p>Deodorant<p>
            
            <p>Cleanser (dry-cleanser as opposed to douche)<p>
            
            <p>Moisturizer<p>
            
            <p>Lubricant<p>
            
        </ul>
    </em>
