<% provide(:title, 'Original Priced Subscription') %>
<% provide(:last_modified, 'May 10, 2015') %>

PLEASE DO NOT SHARE THIS PAGE

<br>

This page is a secret page made specifically to thank our original earliest loyal subscribers, and give them access to our original prices.

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="5ZVTDBBY49T94">
    <input type="hidden" name="on0" value="Formula">

    <table class='table table-bordered table-striped'>
        <thead>
        <tr class="mobile-only">
            <th colspan="4" style="font-size:23px;" class="mobile-only">
                Subscribe to NeuEve
            </th>
        </tr>
        <tr>
            <th colspan="2" style="font-size:23px;" class="non-mobile-only">
                Subscribe to NeuEve
            </th>
            <th colspan="2" style="font-size:23px;">
                USA
            </th>
            <th colspan="2" style="font-size:23px;">
                Canada or Mexico
            </th>
        </tr>
        </thead>

        <tr>
            <td style="vertical-align: middle" colspan="2" class="non-mobile-only" rowspan="2">
                <br>
                Why subscribe to NeuEve?<br><br>
                <ul>
                    <li>Free Shipping!</li>
                    <br>
                    <li>Save 10% for USA addresses!</li>
                    <br>
                    <li>Regular monthly shipments, hassle-free</li>
                    <br>
                    <li>Convenient automatic payment via PayPal</li>
                    <br>
                    <li>Easy change of subscription by sending us an email</li>
                    <br>
                    <li>You're free to cancel at any time</li>
                </ul>
                <br>
                <br><br><br>


                <p>
                    Our goal is to make a positive impact on the world.<br>
                    We've chosen to accomplish that goal by <strong><em>saving marriages.</em></strong>
                </p>
            </td>


            <td colspan="2">
                Select your option:
                <br>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Silk (USA)">
                        <strong><span itemprop="name">NeuEve Silk Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              8 suppositories / pack<br>
            <span itemprop="price">$35.95 per month + <del>$5.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Silver (USA)" checked="checked">
                        <strong><span itemprop="name">NeuEve Silver Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              6 suppositories / pack<br>
            <span itemprop="price">$35.95 per month + <del>$5.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Gold (USA)">
                        <strong><span itemprop="name">NeuEve Gold Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              4 suppositories / pack<br>
            <span itemprop="price">$35.95 per month + <del>$5.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Cream (USA)">
                        <strong><span itemprop="name">NeuEve Cream</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              0.7 oz<br>
            <span itemprop="price">$31.45 per month + <del>$5.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>
            </td>

            <td colspan="2">
                Subscribers get free shipping!
                <br>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Silk (Canada)">
                        <strong><span itemprop="name">NeuEve Silk Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              8 suppositories / pack<br>
            <span itemprop="price">$39.95 per month + <del>$8.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Silver (Canada)">
                        <strong><span itemprop="name">NeuEve Silver Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              6 suppositories / pack<br>
            <span itemprop="price">$39.95 per month + <del>$8.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Gold (Canada)">
                        <strong><span itemprop="name">NeuEve Gold Formula</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              4 suppositories / pack<br>
            <span itemprop="price">$39.95 per month + <del>$8.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>

                <div itemscope itemtype="http://schema.org/Product">
                    <label class="radio">
                        <input type="radio" name="os0" value="NeuEve Cream (Canada)">
                        <strong><span itemprop="name">NeuEve Cream</span></strong><br>
                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              0.7 oz<br>
            <span itemprop="price">$34.95 per month + <del>$8.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
                    </label>
                </div>
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="hidden" name="currency_code" value="USD">
                <div align="center">
                    <%= submit_tag 'Subscribe', :class => 'btn btn-large btn-warning subscribe-button', :name => 'submit' %>
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="6">
                Subscribers get free shipping + 10% savings for USA addresses!
            </th>
        </tr>

    </table>
</form>

