<% provide(:title, 'Product Info') %>

<div class="jumbotron">
  <h1>Product Information</h1>
</div>
<br>

<p>
  <strong> Indication: </strong> Vaginal odor, dryness, atrophy, or painful intercourse (dyspareunia).
</p>

<p>
  <strong> Ingredients: </strong> Vegetable oil, beeswax, starch, inulin, fructo-oligosaccharides,
  ascorbic acid (vitamin C), soy lecithin, orange oil, tocopherols (vitamin E), citric acid, and other ingredients.
<p>
  NeuEve <strong>DOES NOT</strong> contain yeasts, bacteria, milk, egg, fish, shellfish, antibiotics, fragrances,
  synthetic hormones, petroleum products, preservatives, and artificial color.
</p>

<p>
  <strong> Warnings: </strong> For vaginal use only. Stop use and wash thoroughly to remove the suppository if
  suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
  <strong><em>Stop use and ask a doctor if:</em></strong>
  <ul>
    <li>Symptoms persist after the initial dosage of 6 suppositories</li>
    <li> You have pain or tenderness in the lower part of the abdomen and pelvis</li>
    <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
    <li>You (or your sexual partner) have sores or ulcers</li>
    <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
    <li>Your vaginal discharge is an unusual amount, color, or odor</li>
    <li>You have frequent and painful urination</li>
    <li>If use results in pain, soreness, swelling, redness, itching, excessive irritation.</li>
  </ul>
</BLOCKQUOTE>

<p>
  <strong>Important Notice:</strong> NeuEve suppositories are not contraceptives or drugs against communicable
  diseases. There were no data available for compatibility with latex condoms. As a precautionary measure, you should
  not use NeuEve if you use latex condoms. If you are pregnant or breastfeeding you should ask a health professional
  before using this product. If the NeuEve is eaten or swallowed, it is not a problem, because it is fully food grade
  and should be safe even though it may taste bad.
</p>

<p>
  <strong>Storage:</strong> Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct
  sunlight, and the reach of children.
</p>

<p>
  <strong> Directions for use: </strong> Use restroom to empty bowels or the bladder. Wash hands with soap and water.
  Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it will
  comfortably go. Keep the lay down position for about 15 min until the suppository melts. Using at bedtime is
  desirable. Use one for every 2-4 days for the Silver formula or 5-7 days for the Gold formula. Do not use during
  menses.
<p>
  For more details of suppository application please see :

<div align="center">
  <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
