<% provide(:title, 'Suppositories for Vaginal Dryness and Atrophy') %>

<div class="jumbotron">
    <h1>NeuEve Suppositories : Product Information</h1>
</div>
<br>

<h3>
    Ingredients:
</h3>
<p>
    <%= link_to 'Palm oil*', faq_path(:anchor => 'tropicalTraditions') %> , sunflower wax, tapioca starch, inulin,
    fructo-oligosaccharides, sunflower lecithin, orange
    oil, vitamin E, <%= link_to 'and a proprietary blend of nutrients',
                                faq_path(:anchor => 'proprietaryBlend') %>
<p>
    NeuEve <strong>DOES NOT</strong> contain yeasts, bacteria, milk, egg, fish, shellfish, antibiotics, fragrances,
    synthetic hormones, petroleum products, preservatives, or artificial color.
</p>

<h3>
    Warnings:
</h3>
<p>
    For vaginal use only. Stop use and wash thoroughly to remove the suppository if
    suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
    <strong><em>Stop use and consult with your doctor if:</em></strong>
    <ul>
        <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
        <li> You have pain or tenderness in the lower part of the abdomen and pelvis</li>
        <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
        <li>You (or your sexual partner) have sores or ulcers</li>
        <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
        <li>Your vaginal discharge is an unusual amount, color, or odor</li>
        <li>You have frequent and painful urination</li>
        <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
    </ul>
</BLOCKQUOTE>

<h3>
    Important Notice:
</h3>
<p>
    NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against any communicable
    diseases. There is no data available for compatibility with latex condoms. As a precautionary measure, you should
    not use NeuEve if you use latex condoms. If you are pregnant or breastfeeding you should ask a health professional
    before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a problem, because it is
    fully
    food grade
    and should be safe even though it may taste bad.
</p>

<h3>
    Storage:
</h3>
<p>
    Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct
    sunlight, and the reach of children.
</p>

<h3>
    Indication:<sup>*</sup>
</h3>
<p>
    Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
</p>

<a name="directions" id="directions"></a>
<h3>
    Directions for use:
</h3>
<p>
<ol>
    <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
    <li>Tear a single suppository apart from the group.</li>
    <%= image_tag('open-suppository.png') %>
    <li>Find the bullet point of the suppository. It has two opened wings.</li>
    <li>Peel open the suppository shell.</li>
    <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it
        will
        comfortably go.
    </li>
    <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
</ol>

Using at bedtime is desirable. Do not use during menses.

<p>
    For more details of suppository application please see :

<div align="center">
    <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
