<% provide(:title, 'Order Success!') %>

<div class="jumbotron">
    <h1>Thank you for your order!</h1>
</div>

<p>
    For any questions, suggestions, or to check the status of your order, email us
    at <%= mail_to "info@NeuEve.com" %>

<p>


    We thank you for your business, and we are confident that our product will change your life!


