<% provide(:title, 'Order Success!') %>

<div class="jumbotron">
  <h1>Thank you for your order!</h1>
</div>

<p>
  For any questions, suggestions, or to check the status of your order, email us
  at <%= mail_to "NeuEve.Suppositories@gmail.com" %>

<p>


  We thank you for your business! <br>

  <script type="text/javascript">
      var urlParams;
      (window.onpopstate = function () {
          var match,
                  pl = /\+/g,  // Regex for replacing addition symbol with a space
                  search = /([^&=]+)=?([^&]*)/g,
                  decode = function (s) {
                      return decodeURIComponent(s.replace(pl, " "));
                  },
                  query = window.location.search.substring(1);

          urlParams = {};
          while (match = search.exec(query)) {
              urlParams[decode(match[1])] = decode(match[2]);
          }
          ga('require', 'ecommerce');
          ga('ecommerce:addTransaction', {
              'id': urlParams['tx'],                     // Transaction ID. Required.
              'revenue': urlParams['amt']               // Grand Total.
          });
          ga('ecommerce:send');
      })();
  </script>


  <!-- Google Code for Successful Order Conversion Page -->
  <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 1039056375;
      var google_conversion_language = "en";
      var google_conversion_format = "1";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "3PP2CJflwgUQ9_u67wM";
      var google_conversion_value = 50.00;
      var google_remarketing_only = false;
      /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices
    .com/pagead/conversion/1039056375/?value=50.00&amp;label=3PP2CJflwgUQ9_u67wM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

