<% provide(:title, 'Vaginal Odor : Causes and Treatment') %>

<div class="jumbotron">
  <h1>Vaginal Odor</h1>
</div>

<br>

<h3>
  Cause of Vaginal Odor
</h3>
<p>
  Unpleasant vaginal odor is often caused by bacterial vaginosis (BV). BV is not a true infection but an upset of the
  vaginal normal ecology. For example, if the water level of a river is running low, the number of fish would decrease
  and amphibians would thrive. This is called ecological shift. During BV, the good bacterium Lactobacillus decreases,
  but the unwanted bad bacteria increase. The cause for such an ecological shift is not clear, but risk factors include
  antibiotic use, douching, hormone reduction due to menopause or pregnancy, and change of sexual partner.
</p>
<h3>
  Why do antibiotics and home remedies often fail?
</h3>
<p>
  Vaginal odor is thought to be caused by the overgrowth of undesirable bacteria, and thus is often treated with
  antibiotics to kill these bacteria, but antibiotics do not always work. Continuous use can cause side effects, such as
  yeast infection. Let us use the river analogy again. Killing of the “amphibians” (bad bacteria) does not increase the
  number of fish (good bacteria) if the water level in the river is running low. Home remedies for vaginal odor include
  douches and Lactobacillus capsules. Research found that douche often causes BV because it disrupts vaginal ecology.
  Lactobacillus capsules deliver live friendly bacteria to the vagina. Theoretically it should work, but in reality it
  often does not. This is like putting more fish into a river in order to outnumber the “amphibians,” but if the water
  level in the river is running low, all added “fish” will soon die out. Overall, there are few truly effective products
  for vaginal odor.
</p>
<h3>
  How does NeuEve work?<sup>*</sup>
</h3>
<p>
  A major reason for vaginal ecological imbalance is caused by the lack of available nutrients for the “good” bacteria.
  By supplementing the right combination of nutrients (prebiotics) for the “good” bacteria, the dominance of the “good”
  bacteria can be restored. This may result in the elimination of vaginal odor in some women. For example, to restore
  the previous, normal ecology of a dried river, in which fish diminishes and amphibians dominate, the best way is to
  increase its water level. This can result in more “fish” and less “amphibians” naturally. Killing “amphibians” (bad
  bacteria) or adding more “fish” (good bacteria) into the dried river may not fix the problem or may provide only
  temporary solution. On the other hand, customers reported that the effect of NeuEve is rapid. In less than 24 hours
  after using the first suppository, vaginal odor diminishes. The NeuEve special patented formulation allows extended
  and timed release for up to 7 days. This makes the formula more convenient to use due to its long-lasting effect.
  Continuously using the product will help keep good vaginal health.<sup>*</sup>
</p>

<%= render 'layouts/order_now_bv' %>