<% provide(:title, 'Vaginal Dryness and Atrophy : Causes and Relief ') %>

<div class="jumbotron">
  <h1>Vaginal Dryness and Atrophy</h1>
</div>

<h3>
  Cause of Vaginal Dryness and Atrophy
</h3>
<p>
  Vaginal dryness commonly occurs when estrogen decreases during and after menopause. Although it is not a disease, the
  dryness can negatively affect women’s quality of life. Vaginal dryness may cause itching, burning, swelling and
  discomfort, and is associated with pain during sex and increased frequency of urination. Vaginal dryness is often
  associated with odor because decreased secretion hampers the vaginal natural cleansing mechanism, resulting in
  overgrowth of the bad bacteria associated with BV. After years of vaginal dryness, the vagina will become severely
  atrophic, and will be difficult to recover. Therefore, addressing the dryness issue early will help delay the
  occurrence of atrophy.
<h3>
  Relief of Vaginal Dryness and Atrophy
</h3>
<p>
  Three groups of products are available for relieving vaginal dryness: lubricants, moisturizers and estrogen. Lubricants
  and moisturizers do not need prescriptions, but they only address symptoms, not the cause, like waxing drying leaves
  of a plant without watering its root. Vitamin E is a placebo because vaginal dryness is not caused by Vitamin E
  deficiency. It is the oil that dissolves the vitamin works as a lubricant. The same effect can also be achieved by
  applying olive oil. Although estrogen addresses the cause, the concentrated estrogen formula requires prescription and
  potentially increases cancer risk. Many women, especially cancer survivors, are reluctant to use estrogens. Overall,
  none of these products for dryness can clear feminine odor, which often exists in women experiencing vaginal dryness.
<p>
<h3>
  How does NeuEve work?<sup>*</sup>
</h3>
<p>
  Menopause also causes osteoporosis, but it is reversible without estrogen. Calcium and vitamin D can do it. Likewise,
  vaginal atrophy should also be reversible without estrogen. Our product NeuEve can do it because NeuEve provides
  nutrients for the vaginal tissue as does calcium and vitamin D for bones.
</p>
<p>
  Before a woman reaches menopause, her vagina is moisturized by mucus glands. After menopause, estrogen reduces, the
  vaginal gland dries, and the mucosa shrinks. Estrogen can control these glands, but the glands can also be activated
  by other things.
</p>
<p>
  Let us look at dry eyes as an example. When tear glands shrink with aging, eyes dry. People often use artificial tears
  to find relief, but the effect wears off quickly. It is better to revive dried tear glands, which provide
  auto-lubrication 24/7. Tear glands can be activated centrally by deep sorrow or locally by cutting an onion. But onion
  smells bad. It would be nice if a rose could be used as the tear stimulant.
</p>
<p>
  We have found the “rose” for reviving dried glands in women. This is the secret of NeuEve. Due to revival of
  mucus-secreting glands, the vaginal mucosa is auto-lubricated and moisturized 24/7. Many women using NeuEve report
  reversal of atrophy. We use “rose” to represent NeuEve because it clears up odor by restoring vaginal ecology. Women
  smell fresh and feel rejuvenated after using NeuEve.<sup>*</sup>
</p>

