Many of our customers reported excellent results using NeuEve together with a vaginal dilator.

<br>

We recommend the IntiMD ACTIVE Kegel Pelvic Dilator Exerciser Set, for sale on Amazon for $34.95.

<div align="center">
    <a target="_blank"
       href="https://www.amazon.com/IntiMD-ACTIVE-Pelvic-Dilator-Exerciser/dp/B01FQ47OIU/ref=as_li_ss_il?ie=UTF8&qid=1489250895&sr=8-1&keywords=dilators+for+women&linkCode=li2&tag=neu08-20&linkId=cb53bd66c06aaecf2ef9c9c3ca057dce">
        <img class="seal" border="0"
             src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01FQ47OIU&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=neu08-20">
        <br>
        Buy Pelvic Dilator from Amazon
    </a>
</div>