Since you have dry eyes, dry mouth and vaginal dryness, you might have a condition
called Sjogren's syndrome. It is an autoimmune disease that causes glands to dry out,
including the glands in the eyes, mouth and vaginal tract. Please consult your doctor to
confirm diagnosis. If Sjogren's syndrome is diagnosed, there is no cure for this condition.
However, there are natural remedies to manage it. Below are my recommendations:
<br>
<br>
<ol>
    <li>
        Fish oil. If you are allergic to fish oil, you can take flaxseed oil instead. It is
        the omega fatty acids that help.
    </li>
    <li>
        Sea buckthorn oil (2,000 mg a day). This special oil from the berries of a cold
        weather shrub is a special essential fatty acid called omega-7. It is very helpful at
        improving lubrication throughout the body – including tears, saliva, and vagina.
    </li>
    <li>
        Other treatments helpful for dry eyes and mouth include: Take a B-complex
        vitamin (50 mg a day), and sugar-free lemon drops or chewing gum.
    </li>
    <li>
        Check for food allergies. Get your blood tested for wheat allergy. Women with
        Sjogren's often have allergy to gluten. If wheat allergy is an issue, stop eating bread will
        help you relieve dryness symptoms.
    </li>
    <li>
        Take probiotics regularly, such as Dannon yogurt, Activia, etc.
    </li>
    <li>
        Continue using NeuEve for managing vaginal dryness.
    </li>
    <li>
        Drink plenty of water and use a humidifier in the house.
    </li>
</ol>
