NeuEve itself cannot cause infection, because it is made under sterile
condition; there are no microorganisms. Also, NeuEve is made with 100% oil-base
without water, so it cannot support microbial growth. Then, what else might have caused
infection? There might be three possibilities.
<br><br>

<ol>
    <li><strong>Infection from sex partner.</strong> Sexually transmitted infections (STIs) are common. I
        assume that you did not wear a condom. Even though you do not need contraception
        after menopause, you are still vulnerable to STIs. It is always a good idea to wear a
        condom for protection against STIs when you have a new partner. Such protection is
        mutual; the male can also be protected from possible STIs. NeuEve is oil-based and
        might not be compatible with latex condoms, so non-latex condoms should be used.
    </li>
    <br>
    <li><strong>Old yeast infection coming back.</strong> If a woman had yeast infection when she
        was young, the yeast might become dormant when she becomes menopausal. The
        rejuvenation effect of NeuEve makes the environment moist again by promoting mucous
        secretion, which may allow her dormant yeast to grow back. But if a woman never
        had yeast infection before, she cannot get yeast by using NeuEve. If you feel that you
        get yeast again, you can manage it as you did before with over-the-counter antifungal
        medications.
    </li>
    <br>
    <li><strong>Honeymoon bladder.</strong>
        <p>The vaginal tract is home to billions of indigenous bacteria. Some could be mobilized to the urinary tract
            after intimacy.</p>
        <p>
            A customer with
            vaginal atrophy could not have intimacy for many years. After using NeuEve, she
            regained the ability to have intimacy. Then, she enjoyed so much intimacy that she
            got honeymoon bladder in her 50s. Having a young woman’s trouble at an older age
            suggests that NeuEve can turn back the aging clock.</p>
        <p>To prevent honeymoon bladder, it
            is recommended to drink a lot of cranberry juice or water and empty bladder immediately
            after intimacy. In case honeymoon bladder is suspected, do not panic. It is just urinary
            tract infection (UTI). See your doctor and handle it as if you were a “honeymooner.”
            According to medical review articles, the best way to manage recurrent UTI (at least 2
            UTIs in 6 months) is to take Macrobid (Nitrofurantoin) once a day for 6 months. You
            can ask your doctor for prescription.</p>
        <p>Alternatively, you can take daily <%= link_to 'd-mannose supplements', 'https://infl.tv/dY6y', :target => '_blank'%> to help prevent UTIs.
        D-mannose is the molecule present in cranberries that makes it difficult for bacteria to bind to the urinary tract.</p>
    </li>
</ol>
<br>
In summary, the rejuvenation effect of NeuEve can help improve the ability of intimacy.
After you use NeuEve for a while, you may be able to enjoy sex like a young woman.
The bad news is that you may have to handle some issues of a young woman, like
preventing STIs, yeast infection and honeymoon bladder. The good news is that you do
not need to worry about menstruation.
