As NeuEve is new to the market, most doctors do not know about it. Therefore, they cannot recommend something that
they are not familiar with. The good news is that vaginal dryness is not a "disease,” so it does not need a doctor
to "cure" it. It is a discomfort that you can find relief by yourself. For example, when you have dry lips you can
use a ChapStick to find relief. You do not need to ask a doctor’s approval for using a ChapStick.
<br><br>
NeuEve is a natural product made with all food-grade ingredients, like bread. You do not need doctor’s approval for
eating a piece of bread. A “proprietary blend” means a trade secret or a secret recipe. Many restaurants and
bakeries have their secret flavors or recipes. It is OK to consume a product without knowing its trade secret.

<br>

<div align="center">
    <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class => 'seal') %>
    &nbsp; &nbsp; &nbsp;
    <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class => 'seal') %>
    &nbsp; &nbsp; &nbsp;
    <%= image_tag("not-tested-on-animals.gif", :size => "160x160", :class => "seal") %>
</div>