About the proprietary blend, it is a mixture of ingredients in trace amounts, mainly
vitamins, amino acids and other nutrients for local nourishment of the mucous tissues,
like calcium and vitamin D for bones. All ingredients are gluten-free, food-grade, edible and of plant
source and should be safe. The composition is patented and is a part of our trade secret.
Many businesses have trade secrets, such as the flavor in Coke or the spice in Kentucky
Fried Chicken. If you ever had these things, you have consumed a product that has a trade
secret. It is perfectly OK to consume a product without knowing its trade secret.
<br>

<div align="center">
    <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class => 'seal') %>
    &nbsp; &nbsp; &nbsp;
    <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class => 'seal') %>
    &nbsp; &nbsp; &nbsp;
    <%= image_tag("not-tested-on-animals.gif", :size => "160x160", :class => "seal") %>
</div>