There are two plans: recovery and maintenance. For women with severe dryness and atrophy, it may be too painful
to
have intimacy and they may be highly sensitive due to cracks and spotting. These women can begin with the
recovery
plan first by using the mild Silk formula (8/pk) for one month (use 1 in every 4 days). Then, they can switch to the
regular
Silver formula (use 1 in every 5 days) for faster recovery. Depending on the individual, one or more packs of Silver
formulas may be needed for achieving recovery (regaining the ability to have intimacy without pain). At this
point,
women can switch to the Gold formula for long-term maintenance.

<br><br>

For women who have mild vaginal dryness and painful sex but who can still have sex, they can start directly with
the
maintenance plan using the Silver formula. It is a good idea to use a few suppositories (1 in 5 days) first to
condition the dried vaginal tissue before having intimacy. After using 6 Silver suppositories in a month, the
dryness
and dyspareunia will reduce and these women can switch to the Gold formula and use one in 7-8 days for long-term
maintenance of the vaginal wellness.

<br><br>

For women having just odor (e.g., BV) without atrophy, they can use the Silver formula suppository. Just use one
suppository, and the odor will usually be gone. Continuous using two more suppositories will provide more
assurance
that the odor will not return. The remaining suppositories can be saved for future use in case the odor comes
back at
a later time. However, if the NeuEve suppositories are used regularly to maintain vaginal wellness, the odor
will be
gone for good. Below is a flowchart to illustrate how to select these three formulas.

<div align="center">
    <%= image_tag("flowchart-tiny.png", size: "500x400") %>
</div>