<p>
    We personally used the products for several years. Several thousand of customers have used the products.
    <strong>There have been no reported side effects.</strong>
</p>
<p>
    NeuEve does not interact negatively with any drugs, and can be used in conjunction with any medication. NeuEve's
    effect is topical only because NeuEve utilizes the nutritional healing power of vitamins and essential oils.
</p>