The answer is “Yes.” The vaginal mucosa is moistened by mucus secreted from mucous glands in a young woman. After
menopause, many of these glands stop function and become dormant. With appropriate stimulation provided by NeuEve,
some mucous glands can be revived to secrete mucus. It is like cutting onions to stimulate tears. However, if tear
glands are all dried, even if you cut onions, no tears would come out. To help NeuEve work better, you can take
<%= link_to('Mucinex',
            "https://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0057UUGRU&linkCode=as2&tag=neu08-20&linkId=a3d8682052cf60d259037f2fdbbc48f0",
            :target => '_blank') %>
with expectorant but without cough suppressant.

<div align="center">
    <a target="_blank"
       href="https://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0057UUGRU&linkCode=as2&tag=neu08-20&linkId=a3d8682052cf60d259037f2fdbbc48f0">
        <img class="seal" border="0"
             src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0057UUGRU&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=neu08-20">
        <br>
        Buy Mucinex from Amazon
    </a>
</div>

Expectorants increase mucus secretion that helps to loosen mucus so that you can cough it up. But it often has effect beyond the airway. Therefore, it helps
revive vaginal mucous glands when you apply NeuEve. Take 1
<%= link_to('Mucinex',
            "https://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0057UUGRU&linkCode=as2&tag=neu08-20&linkId=a3d8682052cf60d259037f2fdbbc48f0",
            :target => '_blank') %>
pill a day orally for 1 month. When
self-lubrication is achieved, you can stop taking
<%= link_to('Mucinex',
            "https://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0057UUGRU&linkCode=as2&tag=neu08-20&linkId=a3d8682052cf60d259037f2fdbbc48f0",
            :target => '_blank') %>
, but you will still need to apply NeuEve for maintenance.

<br>
<br>
