Your BV is difficult to treat because friendly lactobacilli were killed by antibiotics prescribed by your doctor.
NeuEve works like weed-n-feed to support the growth of your own lactobacilli, but if your own lactobacilli are
completely gone, it would be difficult for NeuEve to work. Please stop using any antibiotics, antiseptics such as
boric acid or douche. To help NeuEve work better, you can take probiotics orally to help reseed the vaginal
lactobacillus. We recommend
<%= link_to('Fem Dophilus',
            "https://www.amazon.com/gp/product/B001C3Y0GO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001C3Y0GO&linkCode=as2&tag=neu08-20&linkId=9f8f5f4ee8230fc0b2e364d88e790a41",
            :target => '_blank') %>. While you are applying NeuEve BV Clear or NeuEve Gold, take 1 capsule twice a day orally until the symptoms are cleared.
<br>
<br>
<div align="center">
    <a target="_blank"
       href="https://www.amazon.com/gp/product/B001C3Y0GO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001C3Y0GO&linkCode=as2&tag=neu08-20&linkId=9f8f5f4ee8230fc0b2e364d88e790a41">
        <img class="seal" border="0"
             src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B001C3Y0GO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=neu08-20">
        <br>
        Buy Fem Dophilus from Amazon
    </a>
</div>
Note: Please do not apply the probiotic capsule vaginally because it is not a suppository and may not work well. For
example, when your lawn is filled with weeds, applying lawn seeds directly onto the weeds cannot reseed the lawn.
The correct method is to remove the weeds (with NeuEve) while seeding the lawn (with ingestion of the probiotic
capsule).
