Yes. Customers have reported that taking regular calcium supplement (~1 g/day), vitamin D3 (1,000 IU/day), and
fish oil (eating fish or flaxseed oil if allergic to fish) can help. If you cannot take any of
these supplements, just eat some nuts and fish.
<br>

<p>
    <strong>Here are some links to purchase calcium and either fish oil or flaxseed oil supplements</strong>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th width="33%">
            <%= link_to 'Calcium',
                        'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=calcium%20supplements&linkCode=ur2&tag=neu08-20&linkId=P4JX7UT3MCPYF4I4',
                        :target => '_blank',
                        :class => 'amazon-referral',
                        :style => 'color: white'
            %>
        </th>
        <th width="33%">
            <%= link_to 'Fish Oil',
                        'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Fish%20Oil%20Supplements&linkCode=ur2&tag=neu08-20&linkId=HHDHND56DDC6FZG4',
                        :target => '_blank',
                        :class => 'amazon-referral',
                        :style => 'color: white'
            %>
        </th>
        <th width="33%">
            <%= link_to 'Flaxseed Oil',
                        'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Flaxseed%20Oil%20Supplements&linkCode=ur2&tag=neu08-20&linkId=6JQQPJFKN4C6TZS7',
                        :target => '_blank',
                        :class => 'amazon-referral',
                        :style => 'color: white'
            %>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="33%">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_search_bar = "false";
                amzn_assoc_tracking_id = "neu08-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "";
                amzn_assoc_default_search_phrase = "calcium supplements";
                amzn_assoc_default_category = "HealthPersonalCare";
                amzn_assoc_textlinks = "";
                amzn_assoc_linkid = "b1e3147811642585057c3c2ba3230b49";
                amzn_assoc_rows = "1";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </td>
        <td width="33%">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_search_bar = "false";
                amzn_assoc_tracking_id = "neu08-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "";
                amzn_assoc_default_search_phrase = "fish oil supplements";
                amzn_assoc_default_category = "HealthPersonalCare";
                amzn_assoc_textlinks = "";
                amzn_assoc_linkid = "b1e3147811642585057c3c2ba3230b49";
                amzn_assoc_rows = "1";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </td>
        <td width="33%">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_search_bar = "false";
                amzn_assoc_tracking_id = "neu08-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "";
                amzn_assoc_default_search_phrase = "flaxseed oil supplements";
                amzn_assoc_default_category = "HealthPersonalCare";
                amzn_assoc_textlinks = "";
                amzn_assoc_linkid = "b1e3147811642585057c3c2ba3230b49";
                amzn_assoc_rows = "1";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </td>
    </tr>
    </tbody>
</table>
