Based on customers’ feedback, there may be three situations:
<br><br>

<ol>
    <li><strong>Can still have sex, but feel like sandpaper (dryness).</strong> Use NeuEve 30 minutes to 1
        hour before having sex usually works well. It works best 1-2 days after each application.
        If a woman has used NeuEve routinely such as once a week, she can have sex at anytime
        like a young woman.
    </li>
    <br>
    <li><strong>Have sex with pain (dyspareunia) or cannot have sex.</strong> This means atrophy has
        occurred. Using just one NeuEve suppository is not enough to reverse the atrophy. It
        will require the use of NeuEve continuously for 1-4 months before recovery. Please be
        patient to allow NeuEve working for you for a few weeks. You can test for readiness by
        inserting 1-3 fingers.
    </li>
    <br>
    <li><strong>Vaginal muscle spasm when having sex (vaginismus).</strong> These women might have
        slight atrophy, but painful sex causes muscle memory. One customer had vaginismus
        and could not have sex for 3 years. She tried many things (estrogen, moisturizer, and
        jellies) without luck. She used 3 NeuEve suppositories and felt self-lubricating like a
        young woman. Her love life hits the roof.
    </li>
</ol>
<br>

In summary, if you are the first situation, use NeuEve 1 day before having sex may be the
best. Also, since individual case is different, you can experimenting with NeuEve and
find the best application method for yourself. Since the product is made with safe and
food-grade natural ingredients, there is no harmful effect for using it often.
