
<ol class="margin10">
    <% for question in questions %>
        <li>
            <%= link_to question.question.html_safe, faq_path(:anchor => question.anchor) %>
        </li>
    <% end %>
</ol>

<ol>
    <% for question in questions %>
        <li class="faq-answer">
            <h4><strong><em>
                <%= link_to '', {}, name: question.anchor %> <%= question.question.html_safe %>
            </em></strong></h4>
            <%= render "faq/question_partials/#{question.anchor}" %>
        </li>
    <% end %>
</ol>
