<% provide(:title, 'Contact Us') %>

<div class="jumbotron">
  <h1>Contact Us</h1>
</div>

<p>
  We are located in Palatine, Illinois, USA
<p>
  For questions, comments, and suggestions, email us at: <%= mail_to "NeuEve.Suppositories@gmail.com" %>
<p>