@import "bootstrap";


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

// Fonts
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif'
}

p, div {
  font-family: 'Droid Sans', serif;
  font-size: 19px;
  line-height: 32px;
}