@import "bootstrap";
@import url("custom.css.scss");
 

/* header */
.navbar-inner {
  background-image: none;
  border: 0px
}

.navbar {
  margin-bottom: 0px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 0px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

// Fonts
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif'
}

p, div {
  font-family: 'Droid Sans', serif;
  font-size: 19px;
  line-height: 32px;
  color: black;
}

// Background image





.container {
    background: url(translucentcreampaper.png) repeat 0 0;

    text-align: left;
    padding-left:50px;
    padding-right:50px;

}

