<% provide(:title, 'Frederick Douglass HS - Girls in Science Scholarship') %>

<h1>NeuEve Supports Girls in Science</h1>
<%= image_tag 'scholarships/douglass_logo.png' %>
<br>
<h2>Scholarship for Frederick Douglass Academy High School in Austin, Chicago</h2>
<br>
Total Award Amount: <strong>$400</strong>
<br>
Rules:
<ul>
    <li>
        Eligible to all female high school students
        at <%= link_to 'Frederick Douglass High School in Austin, Chicago', 'http://douglassacademy.org/' %> who love
        science.
    </li>
    <li>
        Essay must be close to 400 words
    </li>
    <li>
        Since it will be published online, essay may contain pictures. If you are selected as the winner, we will ask
        for you to send a headshot photo to publish online.
    </li>
    <li>
        Email your essay to <%= mail_to 'douglass.scholarship@neueve.com' %>, we will confirm receipt.
    </li>
    <li>
        The winning essay will be selected by Jan 20, 2018, and published on NeuEve.com. By submitting an essay, you
        agree that we have the right to publish your submission (with credit).
    </li>
</ul>
<p>
    Deadline:
    December 31st, 2017
<p>
    Essay Prompt:
    <strong>"What is your favorite subject in science, and why?"</strong>

<hr>
Why we created this scholarship :
<p>
    NeuEve's founder, Dr. Renjie Chang, faced many difficult challenges in her childhood in China. Through poverty,
    chaos, and danger, one of the things the kept Renjie going was her love and passion for science and medicine. It's
    because of her love of science that Renjie was able go to medical school, deliver thousands of babies, save hundreds
    of lives, and invent new natural remedies that impact the lives of tens of thousands of women.
<p>
    Our company, NeuEve, was founded with the principle that we believe that science is extremely important for
    improving lives and making a positive impact on the world.
<p>
    We created the NeuEve Supports Girls in Science Scholarship to give back in a meaningful way. We sincerely hope that
    this scholarship can help to inspire a love for science and a wish to contribute back to society.
<p>
    Good luck!