<% provide(:title, 'NeuEve Scholarships') %>

NeuEve Supports Girls in Science
<br>
Frederick Douglass High School in Austin, Chicago
<br>
Award Amount: $400
<br>
Rules:
<br>
<ul>
    <li>
        Eligible to all female high school students at Frederick Douglass High School in Austin, Chicago
    </li>
    <li>
        Essay must be 400 words
    </li>
    <li>
        Email your essay to douglass.scholarship@neueve.com
    </li>
</ul>
<br>
Deadline:
<br>
December 31st, 2017
<br>
<br>
Essay Prompt:
<br>
"What is your favorite subject in science, and why?"

<br>
<br>
Info:
<br>
NeuEve's founder, Dr. Renjie Chang, faced many difficult challenges in her childhood in China. Through poverty, chaos,
and danger, one of the things the kept Renjie going was her love and passion for science and medicine. It's because of
her love of science that Renjie was able go to medical school, deliver thousands of babies, save hundreds of lives,
and invent new life-changing technologies.
<br>
At NeuEve we believe that science is extremely important for improving lives and making a positive impact on the world.
<br>
We created the NeuEve Supports Girls in Science Scholarship to give back in a meaningful way.