<table class="table disclaimer-table">
  <tbody>
  <tr>
    <td>
      * Disclaimer:
      <ul class="strong em margin10">
        <li>
          The statements and products referred to throughout this site have not been evaluated by the FDA.
        </li>
        <li>
          They are not intended to diagnose, treat, cure or prevent any disease.
        </li>
        <li>
          Specific results are not guaranteed and results may vary.
        </li>
        <li>
          <%= link_to 'For more information, please read our full legal disclaimer.', disclaimer_path %>
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
