<section class="bg-gray-400 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center py-4 mx-auto">
                <h3>
                    Disclaimer:
                </h3>
                <p>
                    The statements and products referred to throughout this site have not been evaluated by the FDA.
                </p>
                <p>
                    They are not intended to diagnose, treat, cure or prevent any disease.
                </p>
                <p>
                    Specific results are not guaranteed and results may vary.
                </p>
                <p>
                    <%= link_to 'For more information, please read our full legal disclaimer.', disclaimer_path %>
                </p>
            </div>
        </div>
    </div>
</section>