<br>
<h3>
  Try it for yourself, order NeuEve today! <%= link_to 'Questions?', faq_path %>
</h3>

<br>
<p>
  <strong>
    Before purchasing, please read the <%= link_to 'legal disclaimer', disclaimer_path %>.
  </strong>
</p>
<br>

<strong>
  Limited Time Introductory Offer<br>
</strong>
When you subscribe to NeuEve, the first month is <strong>FREE!</strong> <br>

<br><br>

<table class='table table-bordered table-striped'>

  <thead>
  <tr>
    <th colspan="2">
      Subscribe to NeuEve
    </th>
  </tr>
  </thead>

  <tr>
    <td>
      Why subscribe to NeuEve?<br><br>
      <ul>
        <li>Trying is Believing!</li>
        <br>
        <li>First month risk-free, only $5.95</li>
        <br>
        <li>Regular monthly shipments, hassle-free</li>
        <br>
        <li>Convenient automatic payment via PayPal</li>
      </ul>
      <br>

      <p>
        Our goal is to make a possible positive impact on the world.<br>
        We've chosen to accomplish that goal by <strong><em>saving marriages.</em></strong>
      </p>
    </td>
    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QZJH87LLDYFCY">
        <input type="hidden" name="on0" value="">
        <!--<select name="os0">
          <option value="NeuEve Silver">NeuEve Silver : $36 USD - monthly</option>
          <option value="NeuEve Gold">NeuEve Gold : $99 USD - monthly</option>
        </select> -->
        Select your option:
        <br>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silver">
            <strong><span itemprop="name">NeuEve Silver</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="A breakthrough patented suppository for fighting odor, dryness, BV and other symptoms of menopause"/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="price">$36 USD</span> per month<br>
            First month <span style="text-decoration: line-through;">$36</span> <strong>FREE</strong>! + $5.95
            shipping
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Gold">
            <strong><span itemprop="name">NeuEve Gold</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="A breakthrough patented product for fighting odor, dryness, BV and other symptoms of menopause"/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            <span itemprop="price">$99 USD</span> per month<br>
            First month <span style="text-decoration: line-through;">$99</span> <strong>FREE</strong>! + $5.95
            shipping

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>
        <input type="hidden" name="currency_code" value="USD">

        <div align="center">
          <%= submit_tag 'Sign Me Up!', :class => 'btn btn-large btn-primary', :name => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </div>
      </form>
    </td>
  </tr>
</table>
