<tr>
    <td colspan="4" style="background-color: #eaeaea">
        <div align="center">
            <%= image_tag("100satisfactionguarantee.jpg",
                          :size => "300x300",
                          :class => "applicator",
                          alt: '100% Customer Satisfaction Guarantee'
                ) %>
            <br>

            Our organic ingredients are the best quality.
            <br>
            Our suppositories and creams are packed with vitamins and nutrients.
            <br>
            We are so confident you will be satisfied with NeuEve that we will give you your money back if you are unsatisfied.*
            <br>
            * Limited to one box per customer for life, to prevent abuse.
            <br>

            <%= link_to 'Satisfaction Guarantee Terms', satisfaction_path %>
        </div>
    </td>
</tr>
