<section class="bg-gray-400 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 py-4 mx-auto">
                <h3>
                    Disclaimer on Testimonials:
                </h3>
                <ul>
                    <li class="py-2">
                        The testimonials presented on any of our website are applicable to the individuals depicted only
                        and may not
                        be representative of the experience of others. The testimonials are not paid and are not
                        indicative of future
                        performance or success of any other individuals.
                    </li>
                    <li class="py-2">
                        Testimonials appearing on this site are actually received via text submission. They are
                        individual
                        experiences, reflecting real life experiences of those who have used our products in some way or
                        another.
                        However, they are individual results and results may vary. We do not claim that they are typical
                        results that
                        consumers will generally achieve. The testimonials are not necessarily representative of all of
                        those who will
                        use our products.
                    </li>
                    <li class="py-2">
                        In addition, these testimonials are not intended to make any claims that this website and/or the
                        products sold
                        here can be used to diagnose, treat, mitigate, cure or prevent any disease or medical condition.
                    </li>
                    <li class="py-2">
                        All product reviews / testimonials / success stories are the sole opinions, findings or
                        experiences of our
                        customers. We do not "suggest" or "coach" the wording of them - and we do not pay for
                        testimonials or reviews.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>